// @import '../../variables.css'
#contact
  height 80vh
  background-color:#f5f5ff
  .contact_head
    display flex
    z-index: 1
    padding: 0px 15%;
    height 10%
    background-image: linear-gradient(119deg, #441595, rgba(89, 30, 192, 0.94) 22%, rgba(110, 43, 217, 0.75) 53%, rgba(131, 74, 223, 0.85) 79%, #9f61f7);
    .top-nav
      display flex
      font-weight 600
      align-items center
      width 45%
      justify-content space-between
      z-index 1
      margin-inline-end 30%
      text-transform uppercase
      font-size: 18px;
      a
        color var(--white-color)
        text-decoration none
        cursor pointer
        transition color 0.3s linear
      a:hover
        color var(--active-color)
      a:focus
        color var(--white-color)
    .logo-wrap
      display flex
      z-index 1
      align-items center
    .log-in
      font-weight 600
      text-transform uppercase
      font-size: 18px;
      z-index: 1
      align-items center
      display flex
      a
        color var(--white-color)
        text-decoration none
        cursor pointer
      .login-btn
        cursor pointer
        transition color 0.2s linear
      .login-btn:hover
        color var(--active-color)
      .login-btn:focus
        color var(--white-color)
      .sign-in-btn
        transition background-color 0.3s linear
        font-weight 600
        cursor pointer
        height 48px
        display flex
        align-items center
        margin-inline-start 25px
        -webkit-margin-start 25px
        -moz-margin-start 25px
        padding 0 25px
        border-radius 50px
        background-color rgba(131, 74, 223, 0.85)
        border 2px solid var(--white-color)
      .sign-in-btn:hover
        background-color #fff
        background-color var(--white-color)
        color var(--active-color)
      .sign-in-btn:focus
        background-color rgba(131, 74, 223, 0.85)
        color var(--white-color)
  .contact-title
    margin-top 5%
    text-align center
    h1
      font-size 3.75rem
      font-weight bold
    h2
      font-size 1.75rem
  .contact-details
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    p 
      font-weight: 600;
      margin-bottom: 0.75rem
      text-align: start
      font-size: 1rem
    input 
      height 3.875rem
      border-radius: 8px;
      border: solid 1px #c0c6d3;
      outline none
      font-size 1.125rem
      padding 0 1.375rem
  .client-message
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    p 
      font-weight: 600;
      margin 2rem 0 0.75rem 0
      text-align: start
      font-size: 1rem
    textarea
      height 9rem
      border-radius: 8px;
      border: solid 1px #c0c6d3;
      outline none
      font-size 1.4rem
      padding 1.375rem
  .send-msg-btn
    text-align: center
    margin 4rem 0 4rem
    .active-btn
      padding: 1.2rem 2.4rem
      cursor pointer
      font-size 1.375rem
      color var(--white-color)
      text-transform uppercase
  .communicate-main-block
    background-color: var(--white-color)
    display flex
    flex-direction column
    .communicate-sup-block
      width 50%
      margin 0 auto
      padding-top 2rem
      .communicate-title
        text-align center
h2
  font-weight: normal;