.no-scroll
  overflow hidden
#header
  display flex
  position fixed
  top 0
  left 0
  width 100%
  z-index 100
  justify-content center
  color var(--white-color)
  min-height 3.75rem
  box-shadow 0 6px 10px 0 rgba(41, 41, 204, 0.16)
  background-color: #7539da;
  .contact_head
    display flex
    justify-content space-between
    width 100%
    border-bottom 1px solid #a165ff
    .logo-text
    a
      color var(--white-color)
      text-decoration none
    .logo-text
      -moz-padding-start 1rem
      -webkit-padding-start 1rem
      padding-inline-start 1rem
    .signup_link
      line-height 1
      font-size 0.8rem
      width min-content
      font-weight 500
      text-align center
      border-radius 50px
      box-shadow 0 4px 10px 0 rgba(0, 0, 0, 0.16)
      background-image linear-gradient(to bottom, #ff00aa 6%, #b00075 91%)
      padding 0.5rem 1rem
      -moz-margin-end 1.25rem 
      -webkit-margin-end 1.25rem 
      margin-inline-end 1.25rem
    .menu_btn
      display flex
      align-items center
      justify-content center
      padding 0 1rem
    .menu_img-wrap
      display none
    .menu-container
      display flex
      justify-content flex-end
      align-items flex-start
      position fixed
      top 0
      left 0
      right 0
      bottom 0
      z-index 100
      animation onbgr 0.5s forwards
      .mobile-nav
        font-size 1.3rem
        margin-top 3.75rem
        width 54%
        background-color var(--dark-color)
        .nav
          display flex
          flex-direction column
          list-style-type none
          font-weight 600
          margin 0
          padding 1rem 1.5rem 1.5rem
        li
          padding-bottom: 0.5rem
    .bgr_animation
      animation offbgr 0.5s forwards
    .lang-strip
      p
        display flex
        align-items center
        span
          padding-inline-start 0.5rem
          line-height 1

@keyframes onMenu
  0%
    transform translateX(100%)
  100%
    transform translateX(0)
@keyframes onMenu_rtl
  0%
    transform translateX(-100%)
  100%
    transform translateX(0)
@keyframes offMenu
  100%
    transform translateX(100%)
@keyframes offMenu_rtl
  100%
    transform translateX(-100%)
@keyframes onbgr
  100%
    background-color rgba(0,0,0,0.5)
@keyframes offbgr
  0%
    background-color rgba(0,0,0,0.5)
  100%
    background-color rgba(0,0,0,0)
    


body[style='direction: ltr;']
  #header
    .mobile-nav
      animation onMenu 0.5s forwards
      border-radius: 1rem 0 0 1rem
    .close_animation
      animation offMenu 0.5s forwards

body[style='direction: rtl;']
  #header
    .menu_btn
      img
        transform: scale(-1, 1)
    .mobile-nav
      animation onMenu_rtl 0.5s forwards
      border-radius: 0 1rem 1rem 0
    .close_animation
      animation offMenu_rtl 0.5s forwards
