#signature
  width 100%
  border-bottom 1px solid silver
  .checkbox-wrap
    padding-top 10px
    height 70px
    padding-bottom 10px
    .text
      width 70%
      display inline-block
      .text-h1
        margin 0
        color #6b6b6b
        padding 0 10px
    .switch
      width 30%
      border none
      .switchleft.on
        .switch-toggle
          left -50px
      .switchright.on
        .switch-toggle
          left 50px
      .switch.on
        background-color limegreen
      .switch.disabled
        cursor not-allowed
      .switch
        float right
        height 30px
        width 80px
        -webkit-margin-end 25px
        -moz-margin-end 25px
        border-radius 30px
        border 2px solid grey
        background-color lightgray
        cursor pointer
        display inline-block
        .switch-toggle
          width 26px
          height 26px
          border-radius 30px
          border 1px solid #999
          box-shadow: 1px 1px 1px #ccc
          left 0
          background #fff
          position relative
          transition left .2s ease-in-out
  .autograph-wrap
    width 100%
    padding-bottom 15px
    .autograph
      width 40%
      margin 0 10px
      display inline-block
      img
        border 2px solid yellowgreen
        border-radius 15px
        width 100%
        box-shadow: 3px 3px 5px rgba(30,30,30,0.5);
    .label
      display inline-block
      width 55%
      height 96px
      h1
        margin 10px 0
        color yellowgreen
      button
        display inline-block
        margin 0 6px
        height 30px
        width 100px
        border-radius 15px
        background-color white
        border 1px solid gray
        &:focus
          outline none
  .add-signature-wrap
    width 100%
    height 40px
    padding 0 25px
    .text-wrap
      width 90%
      height 40px
      display inline-block
      h1
        position relative
        width 100%
        margin 0
        color #6b6b6b
        padding 0 10px
        text-align end
        top -10px
    .img-wrap
      width 10%
      height 40px
      display inline-block
      img
        width 35px
        height 35px
.hidden
  display none
