// @import '../../../../variables.css'
#gallery-timeline
  margin .2rem auto .2rem auto
  padding .7rem 0 1.2rem
  background-color white
  border-radius .5rem
  font-size 1.25rem
  width 95%
  .header
    display flex
    justify-content space-between
    padding 0 1.1rem 0 .9rem
    .labels
      display flex
      align-items center
      .file-name
        -webkit-padding-start 0.7rem
        -moz-padding-start 0.7rem
        padding-inline-start 0.7rem
        font-size 1rem
        line-height 1.25
        letter-spacing 0.2px
    .share-wrap
      width 2.8rem
      height 2.8rem
  .order-in
    display flex
    -webkit-padding-start .8rem
    -moz-padding-start .8rem
    font-size .8rem
    color var(--sec-bgcolor)
    span
      -webkit-padding-start 0.4rem
      -moz-padding-start 0.4rem
    .create-date
      -webkit-margin-start 1rem
      -moz-margin-start 1rem 
  .photo-wrap
    display flex
    justify-content center
    align-items center
    margin .5rem 0 .9rem
    img
      object-fit cover
      width 100%
      height auto
  .note
    padding 0 .95rem
    .title
      font-weight bold
      font-size 0.8rem
      color var(--dark-color)
    .gallery-note
      display flex
      justify-content space-between
    .note-txt
      font-size 0.9rem
      p
        max-width 19rem
      .ellipsis
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
    .text-expand
      padding-bottom 0.3rem
      .rotate
        transform rotate(180deg)
  .video-block
    position relative
    .media-vid
      margin-left auto
      height 8.143em
      width 100%
    .video_play
      position absolute
      width 50px
      height 50px
      margin auto
      top -15px
      left 0
      bottom 0
      right 0
  .music-block
    flex-direction column
    .audio-img
      width 50%
    audio
      width 100%
  .photo-wrap
    .previewImg
      width 50%
  .other-file
    img
      width 50%