.signature-modal-header
  border-top-right-radius 10px
  border-top-left-radius 10px
  background-color silver
  height 60px
  img
    width 40px
    margin 10px
    transform rotate(45deg)
.signature-modal-body
  height 200px
.signature-modal-footer
    border-bottom-left-radius 10px
    border-bottom-right-radius 10px
    background-color silver
    height 60px
    button
      display inline-block
      height 100%
      width 50%
      background-color white
      border 1px solid silver
      &:focus
        outline none
    .radiusLeft
      border-bottom-left-radius 10px
    .radiusRight
      border-bottom-right-radius 10px
