// @import "../../../../variables.css"
#hero
  input
    border none
    font-size 1rem
    margin-left 10px
    -webkit-margin-start 10px
    -moz-margin-start 10px
    background rgba(0,0,0,0)
    color var(--black)
    font-family var(--font-family)
    width 100px
    outline none
    &:focus
      background rgba(0,0,0,0.0)
      border none
      box-shadow none
      outline none
      color var(--dark-color)
  position relative
  height 17.2em
  .img
    position relative
    .client-img
      pointer-events none
      user-select none
      width 100%
      object-fit cover
      z-index 1
      height -webkit-fill-available
    &:after
      background: linear-gradient(to bottom,  #4f2da7 0%,rgba(0,0,0,0) 33.33% ,rgba(255,255,255,1) 100%)
      content ""
      display block
      height 100%
      left 0
      position absolute
      top 0
      width 100%
  .star-wrap
    width 42px
    color var(--main-color)
    position absolute
    top 20px
    -webkit-margin-start 10px
    -moz-margin-start 10px
    z-index 2
    span
      letter-spacing 0.2
      color #fff
    .star-wrap-rtl
      left 0
  .camera
    position absolute
    -webkit-margin-end 10px
    -moz-margin-end 10px
    top 7%
    z-index 2
    .camera-spin
      width 20px
      height 20px
      animation 1s spin infinite linear
      @keyframes spin
        from
          transform rotate(0deg)
        to
          transform rotate(360deg)
      img
        height 20px
        width 20px
  .rtll
    left 0
  .ltrr
    right 0
  .star-wrap-left
    left 10px
  .star-wrap-right
    right 10px
  .star
    fill var(--main-color)
  .star-active
    fill #fec20f
    stroke #fff
    stroke-miterlimit 10
    stroke-width 2px
  .toast
    z-index 2
    position absolute
    top 22px
    left 16%
    //margin 0 auto
    background-color #fec20f
    border-radius 5px
    width 250px
    text-align center
    padding 4px 0
    transition opacity 0.5s ease-in-out
    opacity 0
  .toast-visible
    transition opacity 0.5s ease-in-out
    opacity 1
  .input-group
    display flex
    align-items center
    margin-left 10px
    -webkit-margin-start 10px
    -moz-margin-start 10px
    bottom 0
    position absolute
    width -webkit-fill-available
    width -moz-available
    justify-content start
    border-collapse separate
    z-index 2
    .del-wrap
      width 1.2rem
      height 1.2rem
      margin-left 10px
      -webkit-margin-start 10px
      -moz-margin-start 10px
      border 1px solid #deceff
      border-radius 50%
      display flex
      align-items center
      justify-content center
      img 
        width 1rem
        transform rotate(45deg)
    .input-group-addon
      margin-left 10px
      -webkit-margin-start 10px
      -moz-margin-start 10px
      cursor pointer
      display flex
      align-items center
      img
        width 1rem
    .input-group-addon-2
      background rgba(0,0,0,0.0)
      display flex
      align-items center
      border none
      cursor pointer
      visibility visible
      font-size 14px
      margin-left 10px
      -webkit-margin-start 10px
      -moz-margin-start 10px
      font-weight 400
      color var(--main-color)
      img
        width 1rem
    .input-group-addon-3
      visibility visible
  .status-label
    font-size 1rem
    font-weight 600
    z-index 2
  .status-config
    margin-left 10px
    -webkit-margin-start 10px
    -moz-margin-start 10px
    font-size 1rem
