#business_types
  display flex
  flex-direction column
  align-items center
  header
    h2
      margin 0
      padding 0 2rem
      line-height 1.07
      text-align center
      font-size 3.75rem
      font-weight bold
    p
      padding-top 1.5rem
      font-size 1.75rem
      text-align center
  .content-box
    display flex
    width 90%
    justify-content center
    align-content center
    button
      padding 0
      display flex
      align-items center
      justify-content center
      width 5%
    .swiper-container
      width 90%
      flex-grow 1
      .swiper-wrapper
        flex-grow 1
    .slide
      display flex
      width 100%
      flex-direction column
      margin 1.5rem
      border-radius 20px
      box-shadow: 0 20px 20px 0 rgba(41,41,204,0.16);
      background-color var(--white-color)
      picture
        display flex
        width 100%
        img
          width 100%
          height 20rem
          object-fit cover
          border-top-right-radius 15px
          border-top-left-radius 15px
      figcaption
        padding 1.6rem 10% 0
        h3
          margin 0
          text-align center
          font-size 1.6rem
          font-weight 600
        p
          text-align center
          font-size 1.1rem
          padding 1.25rem 0 2.25rem
    .swiper-slide
      display flex
      padding 5rem 0

@media screen and (min-width 320px) and (max-width 1600px)
   #business_types
    .content-box
      width: 95%
@media screen and (min-width 320px) and (max-width 1023px)
  #business_types
    button
      img
        width 3.5rem

