#business_types
  padding 2rem 0 2rem
  display flex
  flex-direction column
  align-items center
  header
    h2
      margin 0
      padding 0 2rem
      line-height 1.07
      text-align center
      font-size 3.125rem
      font-weight bold
    p
      padding-top 1rem
      font-size 1.375rem
      text-align center
  .content-box
    width 90% !important
    overflow hidden
    .wrap_controls
      display flex
      align-items center
      justify-content center
      width 7%
    .slide
      display flex
      width 100%
      flex-direction column
      margin 1.5rem 0
      border-radius 20px
      box-shadow 0 20px 20px 0 rgba(41,41,204,0.16)
      background-color var(--white-color)
      picture
        display flex
        width 100%
        img
          width 100%
          height 16.25rem
          object-fit cover
          border-top-right-radius 15px
          border-top-left-radius 15px
      figcaption
        padding 1.6rem 10% 0
        h3
          margin 0
          text-align center
          font-size 1.375rem
          font-weight 600
        p
          color var(--sec-text-color)
          text-align center
          font-size 1rem
          padding 1rem 0 2.25rem
  .swiper-wrapper
    margin-bottom 4rem
    .swiper-slide
      min-height: 100% !important

  .swiper-button-prev
    top: 95%;
    left: 40%;
  .swiper-button-next
    top: 95%;
    right: 40%;

@media screen and (min-width 320px) and (max-width 1365px)
   #business_types
    .content-box
      width 90%
@media screen and (min-width 320px) and (max-width 1023px)
  #business_types
    header
      h2
        font-size 2.75rem
      p
        font-size 1.5rem
@media screen and (min-width 1600px) and (max-width 1919px)
  #business_types
    .content-box
      width 86%
@media screen and (min-width 1920px)
  #business_types
    padding 5rem 0 4rem
    header
      h2
        font-size 3.75rem
      p
        padding-top 1.5rem
        font-size 1.75rem
    .content-box
      width 88%
      .swiper-slide
        picture
          img
            height 21.25rem
        figcaption
          h3
            font-size 1.5rem
          p
            font-size 1.125rem
            padding 1.2rem 0 2.25rem
body[style='direction: rtl;']
  #business_types, #feedback, #features
    button
      transform: scale(-1, 1)