// @import '../../variables.css'
#business-types
  margin-top 100px
  h2
    font-size 48px
    margin 0
  h3 
    font-size 1.625rem
    margin 0
    font-weight: 400;
    padding 10px 0 
  .header
    display flex
    flex-direction column
    width 50%
    margin 0 auto
    text-align center
    .desc
      margin-top 20px
      p
        font-size 1.2rem
  .content-box
    margin-top 100px
    padding 0 16vw
    display flex
    overflow hidden
    position relative
    .slider
      width: 100%
      display: flex;
      overflow-x: scroll;
      scroll-snap-type: x mandatory
      scroll-behavior smooth
      figure
        scroll-snap-align: start;
        display flex
        margin 0 15px
        flex-direction column
        picture
          display flex
          img 
            width 100%
            height 100%
            // width: -webkit-fill-available;
            // height 50%
            // width 100%
            // overflow hidden
        figcaption
          border-bottom-left-radius 15px
          border-bottom-right-radius 15px
          background-color #fff
          display flex
          flex-direction column
          align-items center
          p
            font-size: 1rem
            font-weight: 300;
            padding 10px 30px 30px 30px
            text-align center
    .prev-btn
      left 10%
      top 50%
      position: absolute
      display flex
      align-items center
    .next-btn
      right 10%
      top 50%
      display flex
      position: absolute
      align-items center
    p
      font-size 36px
      padding-left 30px
      -webkit-padding-start 30px
      -moz-padding-start 30px
    .content-wrap
      display flex
      align-items center
      margin 50px
      flex-direction column
      // img 
      //   width 250px
    .swiper-pagination
      padding-top 50px
      text-align center
    .swiper-button-prev, .swiper-button-next
      position absolute
      top 50%
      // width 20px
      // height 20px
      border-radius 50%
      z-index 10
    .swiper-button-prev
      left 0
      right auto
      -webkit-margin-start 15px
      -moz-margin-start 15px
    .swiper-button-next
      right 0
      left auto
      -webkit-margin-end 15px
      -moz-margin-end 15px
    .swiper-button-next-rtl
      transform rotate(180deg)
      position absolute
      z-index 10
      left 0
      top 50%
      right auto
      -webkit-margin-start 15px
      -moz-margin-start 15px
    .swiper-button-prev-rtl
      position absolute
      transform rotate(180deg)
      top 50%
      right 0
      z-index: 10
      left auto
      -webkit-margin-end 15px
      -moz-margin-end 15px
@media screen and (max-width 414px)
  .prev-btn
    left 1% !important
  .next-btn
    right 1% !important
    