.test
//   min-width 100% !important
  min-height: 300px
  // width 30%
  background-color: white
.test1
  background-color: red
  // width 30%
  min-height: 300px
.test2
  // width 30%
  background-color: purple
  min-height: 300px
.test3
  // width 30%
  background-color: green
  min-height: 300px
.test4
  // width 30%
  background-color: aqua
  min-height: 300px
// .content-box
//   width 100% !important
//   overflow hidden
// .swiper-container
//     width 100%
//     margin-left auto
//     margin-right auto
  // .swiper-wrapper
  //   display flex
  //   width 100%
  //   .swiper-slide
  //     flex-shrink 0
  //     width 100%
  //     height 100%
