// @import "../../../../variables.css"
#groups
  margin 7px 7px 7px
  .group-header
    height 4em
    display flex
    border-top-left-radius 8px
    border-top-right-radius 8px
    background-color #fff
    .groups-label
      font-size 1.5em
      font-weight 600
      margin auto 10px
   .group-body
      margin 1px 0 0
      border-radius 0 0 8px 8px
      background-color #fff
      display flex
   .group-footer
     display flex
     justify-content space-between
     border-bottom-left-radius 8px
     border-bottom-right-radius 8px
     background-color #fff
     .footer-label
       margin auto 10px
       font-size 0.8em
       color var(--dark-color)
       font-weight 700
     .href
       margin auto 0
       img
        display block
    .group-body
      .group-wrap
        width 114px
        padding-top 20px
        padding-bottom 10px
        a
          text-decoration none
          .img
            width 58px
            height 58px
            display flex
            margin 0 auto
            align-items center
            justify-content center
            border 2px solid #d1c7e7
            border-radius 100%
            background-color #dedeff
            .icon
              width 23px
            img.icon
              display block
            .amount
              margin-top -20px
              -webkit-margin-start 20px
              -moz-margin-start 20px
              color white
              min-width 18px
              display flex
              justify-content center
              align-items center
              padding 10px
              font-size 0.8em
              position absolute
              border-radius 100%
              background-color var(--active-color)
          .name
            color black
            font-size 1.2em
            font-weight 600
            display flex
            justify-content center
            margin 10px
            white-space nowrap
            overflow hidden
            text-overflow ellipsis
            .name-wrap
              white-space nowrap
              overflow hidden
              text-overflow ellipsis
        h1
          text-align center
          color #304f63
          line-height 20px
          height 40px
          overflow hidden
          text-overflow ellipsis
          margin 10px
        .amount
          color #00b6fb
          font-weight 600
          text-align center
          line-height 20px
          height 20px
          margin 0
