.all_plans
  display flex
  flex-direction column
  align-items center
  background-color var(--white-color)
  padding 3.375rem 0
  h2
    margin 0
    text-align center
    font-size 3.125rem
    padding 0 1rem
    font-weight bold
  ul
    list-style none
  .features
    margin-top 1.75rem
    li
      font-size 1.375rem
    .list_item
      display flex
      align-items center
      margin-bottom 0.75rem
      img
        -moz-margin-end 0.5rem
        -webkit-margin-end 0.5rem
        margin-inline-end 0.5rem
  .minor_features
    margin 0
    li
      font-size 1rem 
      color #7c8e98