// @import '../../variables.css'
#feedback
  // height 100vh
  margin-top 6rem
  h2
    font-size 3rem
    margin-top 0
    margin-bottom 1rem
  // display flex
  // align-items center
  position relative
  .rectangle-0
    top 15rem
    left 30rem
    position absolute
  .rectangle-1
    position absolute
    right 0
    top 0
  .rectangle-2
    position absolute
    bottom 10rem
    right 2rem
  .rectangle-3
    position absolute
    width 40px
    bottom 30rem
    right 2rem
  .rectangle-4
    position absolute
    width 60px
    bottom 30rem
    left 2rem
  .rectangle-5
    position absolute
    width 30px
    bottom 20rem
    left 2rem
  .rectangle-6
    position absolute
    width 40px
    bottom 10rem
    left 10rem
  .rectangle-7
    position absolute
    width 60px
    top -5rem
    right 25rem
  .rectangle-8
    position absolute
    top -2rem
    right 37rem
  .feedback-main
    display flex
    width 100%
    padding 0 10rem
    justify-content center
    // padding 0 10rem
    .text-block
      z-index 1
      display flex
      width 50%
      flex-direction column
      .desc-wrap
        -webkit-padding-end 12rem
        -moz-padding-end 12rem
        padding-inline-end 12rem
        p
          font-size 1rem
          padding: 0 12rem 4rem 0
        button
          letter-spacing: 1.2px;
          padding 15px 40px
          color var(--white-color)
      .feed-img
        width 70%
    .slider-feedback
      --item-height: 25rem
      --item-margin-width: 1rem;
      display: flex;
      flex-direction column
      flex-wrap wrap
      max-width 580px
      width: 50%
      /* scrollbar adds some height */
      height calc(var(--item-height) * 2 + var(--item-margin-width) * 4 + var(--item-margin-width) * 2)
      overflow-x: scroll;
      scroll-snap-type: x mandatory
      scroll-behavior smooth
      z-index 1
      figure
        width: calc(50% - 2 * var(--margin-width));
        height var(--item-height)
        display: flex;
        flex-wrap wrap
        margin: var(--item-margin-width);
        border-radius var(--item-margin-width)
        background-image: linear-gradient(143deg, #995cfa, #591ec0);
        color var(--white-color)
        scroll-snap-align: start;
        picture
          display flex
          justify-content center
          align-items center
          margin 0 auto
          padding 30px 30px 0
          img
            width 6rem
            height 6rem
            object-fit: cover;
            border-radius: 50%;
        .description-wrap
          border-bottom-left-radius 15px
          border-bottom-right-radius 15px
          display flex
          flex-direction column
          align-items center
          .rating-stars
            display flex
            img
              padding 0 2px
        p
          font-size: 0.8rem
          font-weight: 300;
          padding 10px 30px 30px 30px
          text-align center
          display: -webkit-box;
          -webkit-line-clamp: 7;
          -webkit-box-orient: vertical;
  .btn
    margin 0 0 0 15%
    display flex
    justify-content center
    .buttons
      z-index: 2
      display flex
      .prev-btn
        padding 5px
        cursor pointer
        display flex
        align-items center
      .next-btn
        padding 5px
        cursor pointer
        display flex
        align-items center
      // .next-btn:hover
      //   invert(1)
      // .next-btn:focus
      //   invert(1)
      // .prev-btn:hover
      //   invert(1)
      // .prev-btn:focus
      //   invert(1)
@media screen and (max-width 1200px)
  .pic-wrap
    display none !important
  .feedback-main
    padding 0 !important
    flex-direction: column
    justify-content center
    align-items center
    .text-block
      width 100% !important
      .desc-wrap
        text-align: center
        padding 0 !important
        justify-content center
        margin-bottom 50px
        p
          padding 0 !important
          margin-bottom 50px
        h2
          font-size: 3rem
  .btn
    margin 0 !important

@media screen and (max-width 450px)
  #feedback
    margin-top 4rem
  .slider-feedback
    width 230px !important
    height 400px !important
    figure
      min-width 100% !important
      margin 0 15px 0 0 !important
@media screen and (min-width 768px)
  .slider-feedback
    width 60% !important
@media screen and (max-width 1600px)
  .desc-wrap
    p
      padding: 0 5rem 4rem 0 !important
@media screen and (max-width 1300px)
  .desc-wrap
    p
      padding: 0 1rem 4rem 0 !important
@media screen and (max-width 1400px)
  .desc-wrap
    p
      padding: 0 0 4rem 0 !important