#punch_cards
  .swiper
    background-color whitesmoke
    padding-top 30px
    padding-bottom 10px
    #swiper-wrap-punch
      padding-top 24px
      .swiper-container
        position static
        width 100%
        .swiper-wrapper
          .swiper-slide
            padding 0px 5px
            width 35%!important
            .color
              background-color white
              width 100%
              height 100px
              border 1px solid #bcbcbc
              box-shadow 1px 3px 6px #bcbcbc
              display inline-block
              padding 5px
              .date
                width 100%
                text-align center
                padding 12px
                font-size 14px
                color deepskyblue
                font-weight 600
              .name
                width 100%
                text-align center
                padding-bottom 12px
                color gray
                font-size 20px
        .swiper-pagination
          transform translateY(-135px)
          bottom auto
          .swiper-pagination-bullet
            width 11px
            height 11px
            margin 0 2px
          .swiper-pagination-bullet-active
            background #fc351f
