.pagination
  display flex
  .bullet
    width 0.75rem
    margin 0 0.4rem
    height 0.75rem
    border-radius 50%
    border 2px solid #acb2c0
    transition: background-color 0.3s, border-color 0.3s
  .active
    background-color #6353f4
    border 2px solid #6353f4
    transition: background-color 0.3s, border-color 0.3s