// @import '../../variables.css'
 #footer
  color var(--white-color)
  margin-top 6rem
  background-image linear-gradient(95deg, #591ec0, #995cfa);
  .top-block
    padding 1.2rem 6rem
    justify-content space-between
    display flex
    flex-wrap wrap
    align-items center
    border-bottom 1px solid #fff
    nav
      display flex
      justify-content center
      // width 10%
    .social-links
      width 10%
      display flex
      justify-content space-between
  .bot-block
    display flex
    justify-content center
    padding 10px 0
  a
    color var(--white-color)
    text-decoration none
    padding 0 .8rem
    transition filter .5s, -webkit-filter .5s, color .5s
    &.old_website
      text-align center
    &:focus, &:hover
      -webkit-filter invert(.3)
      filter invert(.3)
    &.old_website:focus, &.old_website:hover
      color var(--active-color)
      -webkit-filter none
      filter none

@media screen and (max-width 450px)
  .top-block
    padding 1rem 3rem !important
    justify-content center !important
    & > *
      flex-basis 50%
    nav
      width auto !important