// @import '../../variables.css'
 #footer
    color var(--white-color)
    margin-top 100px
    background-image: linear-gradient(95deg, #591ec0, #995cfa);
    .top-block
      padding 20px 100px
      justify-content space-between
      display flex
      align-items center
      border-bottom 1px solid #fff
      .logo
        width 15%
        display flex
        align-items center
      nav
        display flex
        justify-content: center
        // width 10%
        a
          cursor pointer
          color var(--white-color)
          text-decoration none
          padding 0 10px
          transition filter .5s, -webkit-filter .5s
          &:focus, &:hover
            -webkit-filter invert(.3)
            filter invert(.3)
      .logo-text
        padding-inline-start: 10px
        -webkit-padding-start 10px
        -moz-padding-start 10px
      .social-links
        width 10%
        display flex
        justify-content space-between
    .bot-block
      display flex
      justify-content: center
      padding 10px 0

@media screen and (max-width 414px)
  .top-block
    padding 20px 50px !important
    nav
      width auto !important