#footer
  color var(--white-color)
  background-image linear-gradient(95deg, #591ec0, #995cfa)
  .top-block
    width 85%
    margin 0 auto
    padding 2.625rem 0
    justify-content space-evenly
    display flex
    align-items center
    .logo
      min-width 10%
    .soc-links
      display flex
      min-width 10%
      justify-content flex-end
      text-transform uppercase
      a
        display flex
        padding 0
        margin 0 0.6rem
        border-radius 50%
        outline none
        transition background-color 0.5s
      a:hover
        transition background-color 0.5s
        background-color:  var(--white-color)
      a:last-child
        margin-inline-end 0
      svg
        width 2.5rem
        height 2.5rem
        fill var(--white-color)
        transition fill 0.5s
      svg:hover
        transition fill 0.5s
        fill var(--active-color)
    .footer-nav
      flex-grow 1
      display flex
      flex-wrap wrap
      justify-content center
      a 
        display flex
        align-items center
        text-transform uppercase
        font-size 1rem
        line-height 1.31
        padding-inline-start 0.8rem
        letter-spacing 0.72px
        font-weight bold
      a:after
        content: '|'
        padding-inline-start 0.8rem
      a:last-child:after
        display none
      a:hover
        color var(--active-color)
      a:hover:after,  a:focus:after
        color var(--white-color)
      a:focus
        color var(--active-color)
        outline 0
      .nav_img
        width 3rem
        height 3rem
        margin-inline-end 0.5rem
    .social-links
      width 10%
      display flex
      justify-content space-between

  .bot-block
    display flex
    justify-content center
    padding 1.125rem 0
    border-top 1px solid var(--white-color)
    .footer-info
      color var(--sec-bgcolor)
      font-size 1.125rem
  a
    display flex
    color var(--white-color)
    text-decoration none
    transition color .5s

@media screen and (min-width 1024px) and (max-width 1365px)
  #footer
    .top-block
      width 95%
      .logo, .soc-links
        width 20%
      .soc-links
        a
          margin 0 0.4rem !important

@media screen and (min-width 320px) and (max-width 1023px)
  #footer
    .top-block
      width 100%
      display flex
      flex-direction column
      padding 1.2rem 0
      .footer-nav
        display flex
        flex-wrap wrap
        justify-content center
      .logo
        width auto
        padding-bottom 1rem
      .soc-links
        width auto
        padding-top 1rem

@media screen and (min-width 1920px)
  #footer
    .top-block
      width 81.5%
      .footer-nav
        a
          font-size 1.125rem