.try-for-free-btn
    z-index 1
    text-transform uppercase
    font-size 1rem
    display flex
    justify-content center
    align-items center
    line-height 1rem
    border-radius 50px
    font-size: 1.125rem;
    font-weight: 500;
    padding 1rem 1.5rem 1rem
    color var(--white-color)
    outline none
    text-decoration none
    background-image: linear-gradient(to bottom, #ff00aa, #b00075 63%, #930062)
    img
      padding-inline-start 0.5rem
body[style='direction: rtl;']
  .try-for-free-btn img
    transform scale(-1, 1)
    padding-inline-end 0.5rem


