.contact-wrap
  .nonn
    text-decoration: none
    color black
  .btn-contact
    // text-decoration none
    width 65%
    margin 0 auto
    padding 10rem 0 13rem
    .btn-contact-wrap
      // text-decoration none
      background-color: #FFF
      display: flex;
      flex-direction: column;
      padding: 5rem;
      border-radius: 20px;
      text-align: center
      box-shadow: 0 20px 35px 0 rgba(41, 41, 204, 0.16);
      .title-wrap
        // text-decoration none
        display flex
        justify-content center
        img 
          padding-inline-end 1rem
          padding-top: 0.5rem;
        .title-btn-contact
          font-size 3.75rem
          font-weight: bold
      .subtitle-btn-contact
        font-size 1.75rem