#contact_us
  .btn-contact
    width 74.5%
    margin 0 auto
    padding 7.5rem 0
    .btn-contact-wrap
      cursor pointer
      background-color var(--white-color)
      display flex
      flex-direction column
      padding 2.25rem 1rem
      border-radius 20px
      text-align center
      box-shadow 0 20px 35px 0 rgba(41, 41, 204, 0.16)
      .title-wrap
        display flex
        justify-content center
        img 
          padding-inline-end 1rem
        .title-btn-contact
          font-size 3.125rem
          font-weight bold
      .subtitle-btn-contact
        padding-top 0.5rem
        font-size 1.375rem

@media screen and (min-width 320px) and (max-width 1365px)
   #contact_us
    .btn-contact
      width 80%
      .btn-contact-wrap
        .title-wrap
          .title-btn-contact
            font-size 2.75rem
            font-weight bold
        .subtitle-btn-contact
          font-size 1.5rem

@media screen and (min-width 1920px)
  #contact_us
    .btn-contact
      width 62.5%
      padding 11.25rem 0
      .btn-contact-wrap
        padding 3.375rem 1rem
        .title-wrap
          .title-btn-contact
            font-size 3.75rem
        .subtitle-btn-contact
          font-size 1.75rem
          