.networks
  display flex
  flex-direction column
  align-items center
  justify-content center
  p
    font-size 0.875rem
    font-weight 500
  .networks_list
    margin 0.75rem 0 1.5rem
    padding 0
    display flex
    li
      list-style none
      a
        box-shadow 0 15px 20px 0 rgba(26, 120, 242, 0.16)
        background-image linear-gradient(to bottom, #ffffff 18%, #deedff)
        display flex
        align-items center
        border-radius 50%
        justify-content center
        width 3.25rem
        height 3.25rem
        margin 0 0.5rem
        animation links 0.5s forwards
        animation-delay 1.5s
    li:nth-child(2) a
        box-shadow 0 15px 20px 0 rgba(224, 1, 149, 0.16)
        background-image linear-gradient(to bottom, #ffffff 18%, #ffdef0)
