// @import "../../../../variables.css"
#email
  padding 0 10px
  border-top 1px solid #dedeff
  min-height 4em
  display flex
  .gmailwrap
    display flex
    // min-height 4em
    justify-content space-between
    width 100%
  .label
    font-size 0.8em
    font-weight 600
    color var(--dark-color)
  .linkto
    display flex
  .data-wrap
    display flex
    flex-direction column
    margin-top 5px
    .label-wrap
      width 100%
      height 30px
      .email-label
        padding 0px 20px
        height 20px
        border-radius 10px
        background-color #e8ffff
        margin 5px 10px 0 10px
        text-align center
        font-size 14px
        color var(--main-color)
    .gmailcom
      // font-size 16px
      margin-top 5px
      cursor pointer
.add-email
  display flex
  justify-content space-between
  width 100%
  .wrap-mail
    display flex
    flex-direction column
    justify-content space-between
    padding 1px 0 3px
  .add-info
    display flex
    align-items center
    .add-wrap
      width 24px
      height 24px
      background-color var(--active-color)
      border-radius 50%
      display flex
      align-items center
      justify-content center
      img 
        width 17px
        height 17px
  img
    width 38px
    height 38px
    // margin 10px 30px 0 30px
    display flex
    align-self center
  h1
    // margin 18px -10px
    color var(--main-color)
    // display block
.email-edit
  justify-content space-between
   align-items center
  display flex
  // margin auto 0
  width 100%
  .edit
    display flex
    justify-content space-between
    width 100%
    .edit-wrap 
      display flex
      flex-direction column
      margin-top 5px
    .edit-input
      width 100%
      margin-top 5px
      font-size 16px
      border transparent
      // color deepskyblue
      color var(--dark-color)
      &:focus
        outline none
    .del-info
      display flex
      align-items center
      .del-wrap
        width 24px
        height 24px
        border 1px solid #deceff
        border-radius 50%
        display flex
        align-items center
        justify-content center
        img 
          width 17px
          height 17px
          transform rotate(45deg)
  .button
    display flex
    align-items center
    button
      border-radius 15px
      border none
      cursor pointer
      background-color var(--dark-color)
      color #fff
      &:focus
        outline none
.hidden
  display none
.error
  display flex
  justify-content center
  color #FF2D2D
  font-size 16px
