// @import "../../../../variables.css"
#debts
  .span-edit
    color: var(--dark-color);
    font-size: 0.8em;
    font-weight: 700;
    margin: auto 10px;
  .debt-header
    border none
    margin-bottom 2px
  