#share
  position relative
  .share
    position absolute
    object-fit cover
    height 45px
    width 45px
  .icon-default
    position absolute
    visibility hidden
    opacity 0
    object-fit cover
    height 45px
    width 45px
    transform translateX(0%)
    transition 0.2s ease-in-out
    border-radius 50%
  .isVisible
    visibility visible
    opacity 1
    transition 0.2s ease-in-out
  .facebook
    transform translateX(-100%)
    padding-top 2px
    height 43px
    width 43px
  .twitter
    transform translateX(-200%)
  .pingterest
    transform translateX(-300%)
  .gplus
    transform translateX(-400%)
  .linkedin
    transform translateX(-500%)
