#hero
  max-height 1400px
  min-height 500px
  background-repeat no-repeat
  background-size cover
  color var(--white-color)
  position relative
  .hero_background
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    object-fit cover
    z-index -1 
  .sup-block
    background-image linear-gradient(119deg, #441595, rgba(89, 30, 192, 0.94) 22%, rgba(110, 43, 217, 0.75) 53%, rgba(131, 74, 223, 0.85) 79%, #9f61f7);
    background-color transparent
    height 100%
    .header-content-wrap
      display flex
      justify-content center
      align-items center
      height 100%
    .header-content-wrap-text
      display flex
      position relative
      width 85%
      height 100%
      overflow hidden
      .titles_carousel
        display flex
        height 100%
      .hero_screen
        margin-top 2.3rem
        margin-inline-end 5.8rem
        position relative
        display flex
        align-self flex-start
        justify-content center
      .hero_title
        width 100%
        padding-top 5%
        flex-grow 1
        display flex
        flex-direction column
        align-items flex-start
        padding-bottom 2rem
      .iphone-border
        height 75vh
        max-height 810px
        max-width 405px
        border-radius 2.9vh
        width auto
        z-index 1
        top 2.5rem
        box-shadow 0 50px 50px 0 rgba(0, 0, 0, 0.45)
      .border_ltr
        right 5.5rem
      .border_rtl
        left 5.5rem
    h1
      letter-spacing 0.1rem
      font-size 3rem
      line-height 1.25
      font-weight bold
      max-width 90%
      opacity 0
    .hero-description
      p
        padding-top 1.5rem
        font-size 1.375rem
        max-width 90%
        opacity 0
              
@media screen and (min-width 320px) and (max-width 767px)
  #hero
    .sup-block
      .header-content-wrap-text
        width 100%
        padding 0 1rem
    .hero_screen, .iphone-border
      display none !important
    .header-content-wrap
      min-height 568px
    .hero_title
      h1
        font-size 2rem !important
        max-width 100% !important
        line-height 1.1
      .hero-description
        font-size 1.2rem !important
        p
          padding-top 1rem
          line-height 1.2
          max-width 100% !important


body[style='direction: rtl;']
  #hero
    .hero_background
      transform: scale(-1, 1)