// @import '../../variables.css'
#hero
  height 100vh
  background-repeat: no-repeat
  background-size: cover
  .sup-block
    background-image: linear-gradient(119deg, #441595, rgba(89, 30, 192, 0.94) 22%, rgba(110, 43, 217, 0.75) 53%, rgba(131, 74, 223, 0.85) 79%, #9f61f7);
    background-color: transparent
    height 100%
    .top
      color var(--white-color)
      height 100%
      .contact_head
        background-image: none !important
      .gallery
        display: flex;
        width: 300px;
        height: 300px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        // scroll-snap-type: x mandatory;
        img
          width 100%
          scroll-snap-align: start;
      .header-content
        h1
          letter-spacing: 1px
          font-size 72px
        .header-content-wrap
          z-index 1
          width 100%
          .try-for-free-btn
            z-index 1
            top: 70%;
            position absolute
            text-transform uppercase
            font-size: 24px;
            display: flex;
            width: 300px;
            height: 74px;
            justify-content: center;
            align-items: center;
            border-radius 50px
            border 3px solid transparent
            /* polyfill for old browsers */
            background-color #f0a
            background-color var(--active-color)
            outline none
            text-decoration none
            font-weight 600
            transition background-color 0.3s linear, border-color 0.3s linear, color 0.3s linear
            &:hover, &:focus
              /* polyfill for old browsers */
              background-color #fff
              background-color var(--white-color)
              border-color currentColor
              color var(--active-color) !important
              svg path
                fill #f0a
                stroke:#f0a
            svg 
              width 24px
              height 24px
              fill #fff
              stroke-width: 1.5px
              stroke:#fff
              margin-inline-end: 10px
            img
              padding-inline-end 1rem
          .rtl
            right: 11%;
          .ltr
            left: 11%;
          a
            padding 15px 40px
            color var(--white-color)
              
@media screen and (min-width 768px) and (max-width 1023px)
  #hero
    height 70vh
    .wrapper
      display none
    .title
      width 100%
      text-align: center
    .try-for-free-btn
      top 55% !important
    .rtl
      right: 33% !important
    .ltr
      left: 33% !important

@media screen and (min-width 1024px) and (max-width 1024px)
  #hero
    height 70vh
    .wrapper
      display none
    .title
      width 100%
      text-align: center
    .try-for-free-btn
      top 55% !important
    .rtl
      right: 38% !important
    .ltr
      left: 38% !important

@media screen and (min-width 1366px) and (max-width 1599px)
  .title
    padding-inline-end: 2% !important
