// @import '../../variables.css'
#hero
  .top
    color #fff;
    height 100vh
    background-position-x 66%
    background-position-y 80%
    padding-top 27px
    .header-wrap
      display flex
      width 100%
      justify-content space-around
      nav 
        display flex
        align-items center
        width 60%
        justify-content space-around
      a
        color #fff;
        text-decoration none
      .logo-wrap
        display flex
        align-items center
      .log-in
        align-items center
        display flex
        .sign-in-btn
          height 48px
          display flex
          align-items center
          margin-inline-start 10px
          -webkit-margin-start 10px
          -moz-margin-start 10px
          padding 0 20px
          border-radius 50px
          background-color #ff00aa
    .header-content
      padding-top 150px
      height 600px
      display flex
      justify-content center
      img 
        width 500px
      h1
        font-size 48px
      .header-content-wrap-text
        width 400px
        button
          font-size 14px
          border-radius 50px
          border none
          background-color #ff00aa
          color #fff
          outline none
          padding 15px 30px
        .header-desc
          padding 20px 0 50px 0

