#contact-block
  background-color var(--white-color)
  display flex
  flex-direction column
  padding-bottom 6rem
  .communicate-sup-block
    width 50%
    margin 0 auto
    padding-top 2.6rem
    p
      font-size 1.75rem
      text-align center
    .contacts-block
      padding-top 3.8rem
      display flex
      flex-wrap wrap
      width 100%
      justify-content center
      margin 0 auto
      div
        display flex
        padding 2% 2%
      .label, a
        font-size 1.375rem
      .label
        font-weight 600
        margin-inline-end: .6rem
      a
        text-decoration none
        color inherit
        white-space nowrap
        direction: ltr
  .messengers
    padding-top 3.8rem
    display flex
    flex-wrap wrap
    justify-content space-between
    justify-content center

@media screen and (min-width 1300px) and (max-width 1599px)
  .communicate-sup-block
    width 65% !important

@media screen and (min-width 320px) and (max-width 1365px)
	.communicate-sup-block
    width 95% !important

@media screen and (min-width 320px) and (max-width 1365px)
	.communicate-sup-block
    width 95% !important
