#contact_title
  padding 3.75rem 0
  .contact-title
    text-align center
    h2
      margin 0
      font-size 3.75rem
      font-weight bold
    p
      font-size 1.75rem
      margin 0
  .contact-details
    padding-top 1.5rem
    width 54%
    p
    display flex
    flex-direction column
    text-align center
    margin 0 auto
    p 
      font-weight 600
      padding-bottom 0.5rem
      text-align start
      font-size 1rem
      transition color 0.6s
    input 
      height 3.875rem
      border-radius 8px
      border solid 2px #c0c6d3
      outline none
      font-size 1.2rem
      padding 0 1.375rem
      color var(--main-color)
      transition border-color 0.6s
  .client-message
    width 54%
    display flex
    flex-direction column
    text-align center
    margin 0 auto
    p 
      font-weight 600
      padding 1.2rem 0 0.5rem 0
      text-align start
      font-size 1rem
      transition color 0.6s
    textarea
      height 9rem
      border-radius 8px
      border solid 2px #c0c6d3
      outline none
      font 1.2rem var(--font-family)
      padding 1.375rem
      transition border-color 0.6s
      resize none
      width 100%
  .send-msg-btn
    text-align center
    margin 3.9rem 0 0
    display flex
    justify-content center
    .btn
      cursor pointer
      display flex
      justify-content center
      padding 1.2rem 1.4rem
      border-radius 10rem
      color #fff
      margin 0 auto
      text-transform uppercase
      font-size 1.375rem
      font-weight 600
      letter-spacing .15rem
      transition all .3s
      position relative
      border 3px solid var(--active-color)
      background-color var(--active-color)
      overflow hidden
      z-index 1
      &:after
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right 0
        width: 100%;
        height: 100%;
        border-radius: 10rem;
        z-index: -2;
      &:before 
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: var(--white-color);
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
      &:hover
          color var(--active-color)
          &:before
              width 100%
          svg
            fill var(--active-color) !important
            stroke var(--active-color) !important
      @keyframes send
        0%
          transform translateX(-4rem)
      @keyframes send_rtl
        0%
          transform translateX(4rem) scale(-1, 1)
        100%
          transform scale(-1, 1)
      .icon-wrap
        display flex
        align-items center
        svg
          width 1.7rem
          height 1.5rem
          fill var(--white-color)
          stroke var(--white-color)
          margin-inline-end 1rem
          transition fill 0.3s, stroke 0.3s

.falseValidate
  border-color red !important
.falseValidateText
  color red !important
.falseTitle
  color red !important
  font-weight bold
.focus
  border-color var(--dark-color) !important
.focus-title
  color var(--dark-color) !important

@media screen and (min-width 768px) and (max-width 999px)
  .contact-details, .client-message
    width  70% !important
  .contact-title
    margin-bottom 10%
    p
      font-size: 1.55rem !important
@media screen and (min-width 320px) and (max-width 767px)
  .contact-details, .client-message
    width  90% !important
  .contact-title
    margin-bottom 10%
    p
      font-size 1.55rem !important

@media screen and (min-width 1000px) and (max-width 1599px)
  .contact-details
    width  77% !important
  .client-message
    width 77% !important

body[style='direction: ltr;']
  .btn:hover
    svg
      animation send 0.3s linear
body[style='direction: rtl;']
  .btn:before
    right 0
  .btn svg
    transform scale(-1, 1)
  .btn:hover
    svg
      animation send_rtl 0.3s linear forwards