// @import '../../variables.css'
#contact_title
  .contact-title
    margin-top 3%
    text-align center
    h1
      font-size 3.75rem
      font-weight bold
    h2
      font-size 1.75rem
  .contact-details
    width: 54%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    p 
      font-weight: 600;
      margin-bottom: 0.75rem
      text-align: start
      font-size: 1rem
    input 
      height 3.875rem
      border-radius: 8px;
      border: solid 2px #c0c6d3;
      outline none
      font-size 1.125rem
      padding 0 1.375rem
      color var(--main-color)
  .client-message
    width: 54%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    p 
      font-weight: 600;
      margin 2rem 0 0.75rem 0
      text-align: start
      font-size: 1rem
    textarea
      height 9rem
      border-radius: 8px;
      border: solid 2px #c0c6d3;
      outline none
      font-size 1.4rem
      padding 1.375rem
  .send-msg-btn
    text-align: center
    margin 4rem 0 4rem
    display: flex;
    justify-content: center;
    .btn
      cursor pointer
      display flex
      width 300px
      justify-content center
      padding: 1.2rem 1.4rem
      border-radius: 10rem;
      color: #fff;
      margin 0 auto
      text-transform: uppercase;
      font-size: 1.375rem
      font-weight 600
      letter-spacing: .15rem;
      transition: all .3s;
      position: relative;
      border 3px solid #f0a
      background-color: #f0a
      overflow: hidden;
      z-index: 1;
      &:after
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right 0
        width: 100%;
        height: 100%;
        border-radius: 10rem;
        z-index: -2;
      &:before 
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: var(--white-color);
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
      &:hover
          color #f0a
          .svg-fill path
            fill #f0a
            stroke:#f0a
          &:before
              width: 100%;
      .icon-wrap
        display flex
        align-items: center;
        padding-inline-end 0.625rem
        .svg-fill
          width 24px
          height 24px
          fill #fff
          stroke-width: 1.5px
          stroke:#fff

.falseValidate
  border-color red !important
.falseValidateText
  color red !important
.falseTitle
  color red !important
  font-weight: bold
.focus
  border-color #591ec0 !important
.focus-title
  color #591ec0 !important

@media screen and (min-width 768px) and (max-width 999px)
  .contact-details
    width  70% !important
  .client-message
    width 70% !important
  .contact-title
    margin-bottom: 10%;
    h2
      font-size: 1.55rem !important

@media screen and (min-width 1300px) and (max-width 1599px)
  .contact-details
    width  77% !important
  .client-message
    width 77% !important