// @import '../../../../variables.css'
#sms-timeline
  display flex
  padding .6rem 0 .6rem
  -webkit-padding-start 1rem
  -moz-padding-start 1rem
  background-color #fff
  .order-in
    padding 0 .5rem 0 .5rem
    font-weight 900
    font-size .8rem
    color var(--dark-color)
  .text
    line-height 1rem
    max-width 19rem
  .ellipsis
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    max-width 17rem
