#punch_cards_adding
  height 100%
  display flex
  flex-direction column
  background-repeat no-repeat
  background-position top
  .punch-header
    display flex
    position relative
    justify-content center
    align-items center
    width 100%
    height 3.75rem
    background-color var(--main-bgcolor)
    .prev-button
      position absolute
      left 0
      width 2.5rem
      height 2.5rem
      border none
      display flex
      align-items center
      justify-content center
      background-color transparent
      outline none
    .prev-button-rtl
      right 0
      transform scale(-1, -1)
    .header-wrap
      display flex
      align-items center
      line-height 1.22
      font-size 18px
      padding 0.5rem 0
      .title
        -webkit-padding-start 0.8rem
        -moz-padding-start 0.8rem
        color white
        h2
          margin 0
          font-size 18px
          text-align center
          font-weight 500
  .preview-img
    background-image linear-gradient(198deg, rgba(79, 45, 167, 0.3), #4f2da7)
    flex-grow 1
    display flex
  .preview-wrap
    display flex
    flex-direction column
    align-items center
    flex-grow 1
    background-image linear-gradient(to bottom, rgba(239, 239, 255, 0.04), #efefff)
  .name-wrap
    height 9rem
    display flex
    align-items center
    justify-content center
    .service-name
      font-size 24px
      font-weight 500
      display flex
      align-items center
      color #ffffff
      .service-color
        display inline-block
        height 0.5rem
        width 0.5rem
        border-radius 50%
        -webkit-margin-end 0.6rem
        -moz-margin-end 0.6rem
  .service_edit
    display flex
    flex-direction column
    align-items center
    justify-content center
    .single-service
      width 96%
      background-color white
      -webkit-padding-end 0.8rem
      -moz-padding-end 0.8rem
      border-radius 8px
      overflow-y auto
      margin-bottom 20%
    .uses_wrap
      display flex
      align-items center
      padding 1rem 1rem 1rem
      border-bottom 1px solid #dedeff
      .label
        // width 35%
        white-space nowrap
        font-size 16px
        line-height 1
        color rgba(34, 34, 34, 0.87)
    .upd-discont-wrap
      display flex
      align-items center
      padding 1rem 0.3rem 1rem 1rem
      border-bottom 1px solid #dedeff
      .discont-btn
        display flex
        align-items center
        justify-content center
        padding 0.5rem
        min-width 6rem
        border-radius 30px
        border none
        font-size 16px
        outline none
        border 1px solid var(--sec-bgcolor)
        color var(--sec-bgcolor)
        background-color #ffffff
      .discont-img
        -webkit-margin-end 0.3rem
        -moz-margin-end 0.3rem
      .active-discont
        border 1px solid var(--dark-color)
        color var(--dark-color)
      .input-wrap
        display flex
        align-items center
        .persent-wrap
          position relative
          display flex
          justify-content flex-end
          width 50%
        .discont-input
          width 100%
          text-align center
          border none
          font-size 16px
          color rgba(34, 34, 34, 0.87)
          outline none
        .persent
          position absolute
        .persent-rtl
          left 25%
        .persent-ltr
          right 25%
        img
          width 20px
          height 20px
    .total_wrap
      display flex
      align-items center
      padding 1rem 1rem 1rem
      border-bottom 1px solid #dedeff
      .cost-wrap
        display flex
        flex-direction column
        .label-cost
          font-size 16px
          color rgba(34, 34, 34, 0.87)
    .total_num
      display flex
      white-space nowrap
      font-size 14px
      font-weight 300
      color rgba(34, 34, 34, 0.54)
      .num
        -webkit-padding-start 0.3rem
        -moz-padding-start 0.3rem
        font-size 14px
        color rgba(34, 34, 34, 0.87)
  .expiration_wrap
    display flex
    align-items center
    justify-content space-between
    padding 1.3rem 1rem
    border-bottom 1px solid #dedeff
    .subscription_period
      font-size 16px
      color rgba(34, 34, 34, 0.87)
    .switch
      display flex
      align-items center
      border none
      height 1rem
      width 40px
      background-color #EFEFFF
      .switch-toggle
        width 20px
        height 20px
        box-shadow 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12)
        background-image linear-gradient(to bottom, #e1d8f2, #bfafe0)
    .on
      background-color rgba(82, 47, 169, 0.32)
      .switch-toggle
        width 20px
        height 20px
        box-shadow 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12)
        background-image linear-gradient(to bottom, #8a5cd4, #522fa9)
  .valid_date
    display flex
    min-height 4.25rem
    padding 1rem 1rem 1rem
    justify-content space-between
    align-items center
    .change-expiry-date
      font-size 16px
    .date_wrap
      p
        font-size 16px
        color rgba(34, 34, 34, 0.87)
    .daysLeft
      font-size 14px
      font-weight 300
      color rgba(34, 34, 34, 0.54)
    .is_valid
      font-size 16px
      color rgba(34, 34, 34, 0.87)
  .buttons
    position fixed
    display flex
    width 100%
    padding 0 0.5rem 0.5rem 
    bottom 0px
    button
      border none
      width 50%
      display flex
      align-items center
      justify-content center
      height 3.75rem
      outline none
      font-size 14px
      font-weight 500
      text-transform uppercase
      img
        -webkit-margin-start 0.4rem  
        -moz-margin-start 0.4rem
      .cancel-img
        transform rotate(45deg)
    .btn-cancel
      background-color white
      color var(--dark-color)
    .btn-save
      background-color var(--active-color)
      color white
.input-wrap
  display flex
  align-items center
  justify-content flex-end
  flex-grow 1
  .ink
    width 28px
    height 28px
    display flex
    border 1px solid var(--sec-bgcolor)
    border-radius 100%
    justify-content center
    align-items center
  .count-input
    height 40px
    width 30%
    border none
    font-size 16px
    background-color transparent
    color rgba(34, 34, 34, 0.87)
    text-align center
    &:focus
      outline none
  .total-input
    width 35%
  input:disabled
    background-color transparent
.switch-left
    left 23px
.switch-right 
    right 23px