// @import "../../../../variables.css"
#profile
  background #fff
  margin 7px
  border-radius 8px
  box-shadow 0px 0px 28px -8px rgba(0,0,0,0.75)
  input 
    display flex
    border none
    color var(--main-color)
    font-size 14px
  .block-title
    color var(--main-color)
    margin-bottom 0
    margin auto 0
  .block
    padding 0 10px
    border-top 1px solid #dedeff
    min-height 4em
    display flex
    .images
      display flex
      align-items center
      .img-wrap
        -webkit-margin-start 10px
        -moz-margin-start 10px
        img
          width 38px
          height 38px
    .birthday, .completion, .agreement
      display flex
      margin auto 0
      width 100%
      flex-direction column
    .address, .birthday
      margin: 1% 0
    .completion, .agreement
      flex-direction row
    .agreement
      .label
        width 50%
    .phone, .email, .address, .gender, .completion, .agreement
      .label
        font-size 0.8em
        font-weight 600
        color var(--dark-color)
        display flex
        align-items center
      .block-content
        font-size 1.1em
        width 100%
    .email, .address
      .block-content
        display flex
        flex-direction row
        justify-content space-between
  #profile-header
    padding 0 10px
    border-top 1px solid #dedeff
    min-height 4em
    display flex
    justify-content space-between
    align-items center
    .back-save-btn
      display flex
      .back-btn
        display flex  
        -webkit-padding-end 30px
        -moz-padding-end 30px
        color var(--dark-color)
      .back-wrap
        display flex
        align-items center
        .img-back
          display flex
          align-items center
          -webkit-padding-end 6px
          -moz-padding-end 6px
      .save-wrap
        display flex 
        align-items center
        .save-btn
          -webkit-padding-start 6px
          -moz-padding-start 6px
          color #50e3c1
    .edit-profile
      display flex
      align-items center
      color var(--dark-color)
      .edit-wrap
        -webkit-padding-end 6px
        -moz-padding-end 6px
        .img-edit-profile
          width 18px
          height 18px
  #name
    padding 0 10px
    border-top 1px solid #dedeff
    min-height 4em
    display flex
    .fullname
      display flex
      width 100%
      .label
        font-size 0.8em
        font-weight 600
        color var(--dark-color)
      .fullname-wrap
        display flex
        margin-top 5px
        flex-direction column
        .block-content
          margin-top 5px
    .fullname-edit
      display flex
      width 100%
      justify-content space-between
      .edit-wrap
        display flex
        margin-top 5px
        flex-direction column
      .label
        font-size 0.8em
        font-weight 600
        color var(--dark-color)
      .edit-input
        display flex
        border none
        margin-top 6px
        font-weight 500
        &:focus
          outline none
      .del-info
        display flex
        align-items center
        .del-wrap
          width 24px
          height 24px
          border 1px solid #deceff
          border-radius 50%
          display flex
          align-items center
          justify-content center
          img 
            width 17px
            height 17px
            transform rotate(45deg)
  #address
    padding 0 10px
    border-top 1px solid #deceff
    min-height 4em
    display flex
    .address-wrap
      width 100%
      display flex
      justify-content space-between
      .address-data
        display flex
        flex-direction column
        margin-top 5px
        .block-content
          margin-top 5px
      .label
        font-size 0.8em
        font-weight 600
        color var(--dark-color)
        display flex
        align-items center
    .address-data-edit
      display flex
      justify-content space-between
      width 100%
      .del-info
        display flex
        align-items center
      .address-wrap-edit
        display flex
        flex-direction column
        margin-top 5px
        flex-grow 1
        input 
          outline none
        .block-content
          margin-top 6px
      .label
        font-size 0.8em
        font-weight 600
        color var(--dark-color)
      .del-wrap
        width 24px
        height 24px
        border 1px solid #deceff
        border-radius 50%
        display flex
        align-items center
        justify-content center
        img 
          width 17px
          height 17px
          transform rotate(45deg)
    .add-address
      display flex
      justify-content space-between
      width 100%
      .wrap-address
        display flex
        flex-direction column
        justify-content space-between
        padding 1px 0 3px
        .label
          font-size 0.8em
          font-weight 600
          color var(--dark-color)
      .add-info
        display flex
        align-items center
        .add-wrap
          width 24px
          height 24px
          background-color var(--active-color)
          border-radius 50%
          display flex
          align-items center
          justify-content center
          img 
            width 17px
            height 17px
    .images
      display flex
      align-items center
      .img-wrap
        -webkit-margin-start 10px
        -moz-margin-start 10px
        img
          width 38px
          height 38px
  // .google-maps-wrap
  //   display flex
  //   align-items center
  //   width 100%
  .controls
    width 100%
