#single-punch-page
  display flex
  flex-direction column
  height 100%
  width 100%
  // background-color aqua
  .single-punch-wrap
    flex-grow 1
    height 100%
    display flex
    padding 0.5rem
    background-image linear-gradient(to bottom, rgba(239, 239, 255, 0.04), #efefff)
    .single-punch
      width 100%
      height 100%
      display flex
      flex-direction column
      align-items center
      position relative
      border-radius 8px
      padding-top 4.5rem
      flex-grow 1
      background-color white
      .button-del-use
        margin-top 0.3rem
        position: absolute;
        display: flex;
        align-items: flex-end;
        font-size: 14px;
        font-weight: 500;
        color: var(--dark-color);
        background-color: transparent;
        border: none;
        outline: none;
      .button-del-use-rtl
        top 1.3rem
        left 1.3rem
      .button-del-use-ltr
        top 1.3rem
        right 1.3rem
      .delete-btn
        position absolute
        // top 1.3rem
        // left 1.3rem
        display flex
        align-items flex-end
        font-size 14px
        font-weight 500
        color var(--dark-color)
        background-color transparent
        border none
        outline none
        img
          width 20px
          height 20px
          margin-top .3rem
          -webkit-margin-end .3rem
          -moz-margin-end .3rem
      .delete-btn-rtl
        top 1.3rem
        right 1.3rem
      .delete-btn-ltr
        top 1.3rem
        left 1.3rem
      .punch-preview
        position relative
        width 100%
        padding-bottom 2rem
      .service-wrap
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      .punch-name
        max-width: 50%;
        display: flex;
        justify-content: center;
        opacity: 0.87;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
      .service-color
        -webkit-margin-end 0.4rem
        -moz-margin-end 0.4rem
        display block
        height 8px
        width 8px
        background-color var(--main-color)
        border-radius 50%
      .punch
        border-radius 8px 8px 0 0
        padding-top 1rem
        font-size 16px
        line-height 1.25
        .count
          width 100%
          font-weight 300
          text-align center
          padding-bottom 12px
          .uses
            color var(--active-color)
            font-weight normal
          .of
            margin 0 .2rem
          .total
            font-weight normal
      .sum
        display flex
        position absolute
        top 0
        right 1rem
        color var(--main-color)
      .sum-rtl
        left 1rem
      .currency
        -webkit-padding-start 0.2rem
        -moz-padding-start 0.2rem
        color var(--dark-color)
  .use-btn
    width 15rem
    min-height 2.4rem
    text-transform uppercase
    border-radius 30px
    display flex
    align-items center
    justify-content center
    border none
    background-color var(--active-color)
    font-size 14px
    font-weight 500
    outline none
    color #ffffff
    img
      -webkit-margin-start 0.7rem
      -moz-margin-start 0.7rem
  .expiry-date
    padding 2rem 0 2rem
    -webkit-padding-start 1rem
    -moz-padding-start 1rem
    display flex
    width 100%
    .expiry-text
      display flex
      align-items center
      -webkit-padding-start 0.5rem
      -moz-padding-start 0.5rem
      p
        font-size 16px
        font-weight 300
      .formated-date
        padding 0 0.2rem
        font-size 14px
        font-weight 500
        color var(--dark-color)
      .days-left
        padding 0 0.2rem
        font-size 16px
        font-weight 500
        color var(--dark-color)
  .uses-wrap
    width 100%
    -webkit-padding-end 0.8rem
    -moz-padding-end 0.8rem
    overflow-y auto
    padding-top 10px
    .uses:first-child
      border-top 1px solid #dedeff
    .uses
      display flex
      align-items center
      padding 0 1rem
      height 3.75rem
      box-sizing border-box
      border-bottom 1px solid #dedeff
      .uses-date
        flex-grow 1
      p
        padding 0
        -webkit-padding-end 2.5rem
        -moz-padding-end 2.5rem
      .number-select
        display flex
        align-items center
  .expired
    background-image linear-gradient(to top, rgba(148, 106, 131, 0), rgba(254, 53, 139, 0.15))
  .expiry-formated-date
    padding 0 0.2rem
    font-size 14px
    font-weight 500
    color var(--active-color)
  .expiry-btn
    width 15rem
    min-height 2.4rem
    text-transform uppercase
    border-radius 30px
    display flex
    align-items center
    justify-content center
    border 1px solid #9b9b9b
    background-color transparent
    font-size 14px
    font-weight 500
    outline none
    color var(--active-color)
  .expiry-checkbox
    opacity 0.38
  .unused
    color var(--active-color)
  #modal-wrapper
    display flex
    align-items center
    #modal-content
      overflow-x: hidden;
    .modal-body
      display flex
      align-items center
      flex-direction column
      min-height 11.143em
      background-color var(--main-bgcolor)
      .icon
        margin-top 10%
      label
        color white
        margin-top 5%
        text-align center
        font-size 1.5em
        padding 0 1rem
    .modal-footer
      button
        background-color transparent
        border none
        width 50%
        height 3em
      .no-btn
        color #72C71C
      .yes-btn
        color #FF2D2D
