#hero
  .header-desc
    padding 20px 0 50px 0
    p
      font-size 28px  
  .swiper-slide
      display flex
      opacity 0 !important
  .swiper-slide-active
      opacity 1 !important
  .swiper-slide-prev
      opacity 0 !important
  .swiper-slide-next
      opacity 0 !important 
	.title
		width 50%
		padding-inline-end: 5%
		padding-top: 13%
		padding-inline-start: 11%
	.wrapper
		position: relative;
		width 50%	
		display flex
		justify-content center
		padding-top 2%
		.slide
			position: absolute