#hero
  .header-desc
    padding 20px 0 50px 0
    p
      font-size 28px  
  .swiper-slide
      opacity 0 !important
  .swiper-slide-active
      opacity 1 !important
  .swiper-slide-prev
      opacity 0 !important
  .swiper-slide-next
      opacity 0 !important