.messengers
	.item 
		width 19%
		display flex
		align-items center
		flex-direction column
		text-decoration none
	.icon_wrap
		padding-bottom 1rem
		img 
			width 60px
	.name
		text-transform uppercase
		padding 0.8rem 0
		font-weight bold
		font-size: 1.1rem;
		display flex
		justify-content center
		width 100%
		letter-spacing: 0.02rem
		border-radius 50px

