.item 
	width 20%
	padding 1rem 0
	display flex
	align-items center
	flex-direction column
	text-decoration none
	margin 0.5rem 0
.icon_wrap
	img 
		width 60px
.name
	text-transform uppercase
	margin 1rem 0
	padding 1rem
	color: var(--main-color);
	font-weight: 500;
	font-size: 1.1rem;
	display flex
	justify-content center
	width 100%
	border-radius 50px
	font-weight: bold;

