.delete-body
  height 110px
  padding 10px 20px
  h1
    padding-bottom 10px
    text-align start
  button
    height 30px
    border-radius 15px
    border 1px solid #6b6b6b
    background-color white
    margin 0 48px
    width 200px
    &:focus
      outline none
#punch_cards_media
  background-color darkslateblue
  height 50px
  border-top-left-radius 10px
  border-top-right-radius 10px
  img
    display inline-block
    width 30px
    margin 10px
    transform rotate(45deg)
  h1
    display inline-block
    width 280px
    margin-top 15px
    text-align center
    color white
    font-weight 500
  .pd-l
    -webkit-padding-start 54px
    -moz-padding-start 54px
  .pd-r
    -webkit-padding-end 54px
    -moz-padding-end 54px
