#no_credit
  padding-top 6.25rem
  display flex
  position relative
  -moz-padding-start 6.25rem 
  -webkit-padding-start 6.25rem 
  padding-inline-start 6.25rem
  min-height  26.625rem
  overflow hidden
  object-fit contain
  transition padding 0.3s
  background-repeat no-repeat
  background-position top -18rem left -16.5rem, top -27.5rem left -18rem, 0
  background-size auto, auto, cover
  .glow_1
    position absolute
    left -2rem
    top 1rem
    width 120px
    height 44px
    -webkit-filter blur(40px)
    filter blur(40px)
    background-color var(--white-color)
  .glow_2
    position absolute
    left 23rem
    top 2rem
    width 106px
    height 40px
    -webkit-filter blur(45px)
    filter blur(45px)
    background-color var(--white-color)
  .glow_3
    position absolute
    left 70rem
    top 17rem
    width 229.1px
    height 64.5px
    opacity 0.7
    -webkit-filter blur(50px)
    filter blur(50px)
    background-color var(--white-color)
  .glow_4
    position absolute
    left 106rem
    top 20rem
    width 133.9px
    height 112px
    opacity 0.7
    -webkit-filter: blur(50px);
    filter blur(50px)
    background-color var(--white-color)
  .no_credit-content
    display flex
    flex-direction column
    align-items flex-start
    h2
      display flex
      margin 0
      flex-direction column
    span
      font-size 3.5rem
      font-weight bold
      line-height 1.11
      color var(--white-color)
    .try-for-free-btn
      margin-top 1.5rem
  .img-compound
    position absolute
    top 3%
  .compound-dir-rtl
    left 7%
    top 7%
    .phone-frame
      width 34.375rem
  .compound-dir-ltr
    right 7%
    .phone-frame
      width 32.5rem

@media screen and (min-width 1920px)
  #no_credit
    padding-top 8.8rem
    -moz-padding-start 10rem 
    -webkit-padding-start 10rem 
    padding-inline-start 10rem
    min-height 37.5rem
    transition padding 0.3s
    background-position top -17.5rem left -10.5rem, top -18.5rem left -18rem, 0;
    background-size auto, auto, cover
    .glow_1
      left 5rem
      top 2rem
    .glow_2
      left 37rem
      top 2rem
    .glow_3
      top 26rem
    .glow_4
      top 32rem
    .no_credit-content
      span
        font-size 4.5rem
        transition font-size 0.3s
      .try-for-free-btn
        margin-top 3.75rem
    .img-compound
      top 9.5%
    .phone-frame
      width 47.5rem !important
@media screen and (min-width 320px) and (max-width 1023px)
  #no_credit
    -moz-padding-start 1rem 
    -webkit-padding-start 1rem 
    padding-inline-start 1rem
    -moz-padding-end 1rem 
    -webkit-padding-end 1rem 
    padding-inline-end 1rem
    .no_credit-content
      width 100%
      align-items center
@media screen and (min-width 320px) and (max-width 1200px)
  #no_credit
    .img-compound
      display none
