#no_credit
  padding-top 4.25rem
  display flex
  position relative
  -moz-padding-start 6.25rem 
  -webkit-padding-start 6.25rem 
  padding-inline-start 6.25rem
  min-height  26.625rem
  overflow hidden
  object-fit contain
  transition padding 0.3s
  background-image linear-gradient(123deg, #591ec0, #6623db 28%, #7d3ee8 54%, #be95ff 113%)
  .lead_content
    width 63%
    justify-content flex-start
    align-items flex-start
    padding-top 1rem
    .lead_title, .lead_subtitle
      text-align start
    form
      align-items flex-start
      .lead_inputs
        justify-content flex-start
        .name_input_wrap
          margin 0
          margin-inline-end: 0.5rem
        .contact_input_wrap
          margin 0
          margin-inline-start: 0.5rem

  .glow_1
    position absolute
    top 1rem
    width 120px
    height 44px
    -webkit-filter blur(40px)
    filter blur(40px)
    background-color var(--white-color)
  .ltr_glow_1
    left -2rem
  .rtr_glow_1
    right -2rem
  .glow_2
    position absolute
    top 1rem
    width 106px
    height 40px
    -webkit-filter blur(45px)
    filter blur(45px)
    background-color var(--white-color)
  .ltr_glow_2
    left 21%
  .rtr_glow_2
    right 21%
  .glow_3
    position absolute
    top 17rem
    width 229.1px
    height 64.5px
    opacity 0.7
    -webkit-filter blur(50px)
    filter blur(50px)
    background-color var(--white-color)
  .ltr_glow_3
    right 30%
  .rtr_glow_3
    left 30%
  .glow_4
    position absolute
    left 106rem
    top 17rem
    width 133.9px
    height 112px
    opacity 0.7
    -webkit-filter blur(50px)
    filter blur(50px)
    background-color var(--white-color)
  .ltr_glow_4
    right 3%
  .rtr_glow_4
    left 3%
  .wave_1
    position absolute
    top 0
    width 50%
  .ltr_wave_1
    left -2.25rem
  .rtr_wave_1
    right -2.25rem
    transform scale(-1, 1)
  .wave_2
    position absolute
    bottom 0
    width 71%
  .ltr_wave_2
    left 0
  .rtr_wave_2
    right 0
    transform scale(-1, 1)
  .wave_3
    position absolute
    bottom 0
    width 29%
  .ltr_wave_3
    right -2.25rem
  .rtr_wave_3
    left -2.25rem
    transform scale(-1, 1)
  .no_credit-content
    display flex
    flex-direction column
    align-items flex-start
    h2
      display flex
      margin 0
      flex-direction column
    span
      font-size 3.5rem
      font-weight bold
      line-height 1.11
      color var(--white-color)
    .try-for-free-btn
      margin-top 1.5rem
  .img-compound
    position absolute
    top 3%
  .compound-dir-rtl
    left 0%
    top 7%
    .phone-frame
      width 34.375rem
  .compound-dir-ltr
    right 2%
    .phone-frame
      width 32.5rem
  .sending_wrap
    width 56%
    min-height 17.875rem
    height 17.875rem
    .sending_body
      width 100%
      align-items flex-end
      .sending
        padding-bottom 2rem
        .plane
          height 10rem
          width 10rem  
        p
          font-size 1.375rem
          font-weight 600
          color var(--main-color)
      .success
        padding-bottom 2rem
        .mark_modal
          height 10rem
          width 10rem
        p
          font-size 1.375rem
          font-weight 600
          width 100%

@media screen and (min-width 1920px)
  #no_credit
    padding-top 8.8rem
    -moz-padding-start 10rem 
    -webkit-padding-start 10rem 
    padding-inline-start 10rem
    min-height 37.5rem
    .sending_wrap
      min-height 23rem
      height 23rem
      .sending_body
        .sending
          padding-bottom 3.5rem
          .plane
            width 13rem
            height 13rem
          p
            font-size 2.3rem
        .success
          padding-bottom 3.5rem
          .outer_circle
            img
              width 13rem
              height 13rem
          p
            font-size 2.3rem
    .glow_1
      top 2rem
    .ltr_glow_1
      left 5rem
    .rtr_glow_1
      right 5rem
    .glow_2
      top 2rem
    .glow_3
      top 26rem
    .ltr_glow_3
      right 35%
    .rtr_glow_3
      left 35%
    .glow_4
      top 25rem
    .wave_1
      position absolute
      top 0
    .ltr_wave_1
      left 0rem
    .rtr_wave_1
      right 0rem
      transform scale(-1, 1)
    .wave_2
      position absolute
      bottom 0
      width 71%
    .ltr_wave_2
      left 0
    .rtr_wave_2
      right 0
      transform scale(-1, 1)
    .wave_3
      position absolute
      bottom 0
      width 29%
    .ltr_wave_3
      right -2.25rem
    .rtr_wave_3
      left -2.25rem
      transform scale(-1, 1)
    .no_credit-content
      span
        font-size 4.5rem
        transition font-size 0.3s
      .try-for-free-btn
        margin-top 3.75rem
    .img-compound
      top 9.5%
    .phone-frame
      width 47.5rem !important
    .compound-dir-rtl
      left 5%
    .compound-dir-ltr
      right 5%
@media screen and (min-width 320px) and (max-width 1023px)
  #no_credit
    .no_credit-content
      width 100%
      align-items center
    .sending_wrap
      width 100%
      margin 0 !important
@media screen and (min-width 768px) and (max-width 1023px)
  #no_credit
    -moz-padding-start 4rem 
    -webkit-padding-start 4rem 
    padding-inline-start 4rem
@media screen and (min-width 320px) and (max-width 767px)
  #no_credit
    -moz-padding-start 2rem 
    -webkit-padding-start 2rem 
    padding-inline-start 2rem
    -moz-padding-end 2rem 
    -webkit-padding-end 2rem 
    padding-inline-end 2rem
    .lead_inputs
      .name_input_wrap, .contact_input_wrap
        width 49%
@media screen and (min-width 320px) and (max-width 1200px)
  #no_credit
    .img-compound, .wave_3
      display none
    .wave_2
      width 100%
    .lead_content
      width 100%
    .sending_wrap
      width 100%
      -moz-margin-end 6.25rem
      -webkit-margin-end 6.25rem
      margin-inline-end 6.25rem
@media screen and (min-width 1440px) and (max-width 1919px)
  #no_credit
    .lead_content
      form
        .lead_inputs
          max-width 840px
@media screen and (min-width 1600px) and (max-width 1919px)
  #no_credit
    .compound-dir-rtl
      left 5%
      top 7%
    .compound-dir-ltr
      right 5%

