#lead
  min-height 23.125rem
  position relative
  display flex
  align-items center
  overflow hidden
  justify-content center
  margin-bottom 3rem
  background transparent linear-gradient(0deg, #591EC0 0%, #6623DB 20%, #7D3EE8 55%, #BE95FF 100%) 0% 0% no-repeat padding-box
  .wave_left, .wave_right
    position absolute
    top 0
    height 100%
  .wave_left
    left 0
  .wave_right
    right 0