@import "variables.css"
*
  box-sizing border-box
html
  height 100%
body
  font-family var(--font-family)
  line-height 1.42857143
  height 100%
  color #071828
  background-color #f5f7f9
  margin 0
button
  font-weight 600
  color #fff;
  text-decoration none
  cursor pointer
  outline: none
  background none
  border none
.modal-header
  background-color var(--main-bgcolor)
  height 50px
  border-top-left-radius 10px
  border-top-right-radius 10px
  img
    display inline-block
    width 30px
    margin 10px
    transform rotate(45deg)
  h1
    display inline-block
    width 280px
    margin-top 15px
    text-align center
    color white
    font-weight 500
  .pd-l
    -webkit-padding-start 54px
    -moz-padding-start 54px
  .pd-r
    -webkit-padding-end 54px
    -moz-padding-end 54px
#root
  height 100%
.h1, h1
  font-family inherit
  font-weight 500
  line-height 1.1
  color inherit
  margin 0
p
  margin 0
.h1, h1, button, input
  font-size 21px
.right
  float right
.left
  float left
.hidden, #hidden
  display none
.rtl
  right 0
.ltr
  left 0