@import "variables.css"
*
  box-sizing border-box
html
  height 100%
  scroll-behavior smooth
body
  font-family var(--font-family)
  line-height 1.42857143
  height 100%
  color var(--main-color)
  background-color var(--sec-color)
  margin 0
button
  font-weight 600
  color #fff
  text-decoration none
  cursor pointer
  outline: none
  background none
  border none
.modal-header
  background-color var(--main-bgcolor)
  height 50px
  border-top-left-radius 10px
  border-top-right-radius 10px
  img
    display inline-block
    width 30px
    margin 10px
    transform rotate(45deg)
  h1
    display inline-block
    width 280px
    margin-top 15px
    text-align center
    color white
    font-weight 500
  .pd-l
    -webkit-padding-start 54px
    -moz-padding-start 54px
    padding-start 54px
  .pd-r
    -webkit-padding-end 54px
    -moz-padding-end 54px
    padding-end 54px
#root
  height 100%
.h1, h1
  margin 0
p
  margin 0
.right
  float right
.left
  float left
.hidden, #hidden
  display none
.rtl
  right 0
.ltr
  left 0

.right-swipe
  direction rtl
  overflow hidden
.left-swipe
  overflow hidden
.swiper-container
    width 100%
    margin-left auto
    margin-right auto
  .swiper-wrapper
    display flex
    width 100%
    .swiper-slide
      height auto !important
  .swiper-pagination-bullet
    width 10px
    height 10px
    background-color transparent
    border solid 2px var(--inactive-color)
    opacity 1
    transition background-color 0.4s, border-color 0.4s
  .swiper-pagination-bullet-active
    border solid 2px var(--dark-color)
    background-color var(--dark-color)
    transition: background-color 0.4s, border-color 0.4s

  .swiper-button-prev:after, .swiper-button-next:after
    display none