@import "variables.css"
*
  box-sizing border-box
html
  height 100%
  scroll-behavior: smooth;
body
  font-family var(--font-family)
  line-height 1.42857143
  height 100%
  color #071828
  background-color #f5f7f9
  margin 0
button
  font-weight 600
  color #fff;
  text-decoration none
  cursor pointer
  outline: none
  background none
  border none
.modal-header
  background-color var(--main-bgcolor)
  height 50px
  border-top-left-radius 10px
  border-top-right-radius 10px
  img
    display inline-block
    width 30px
    margin 10px
    transform rotate(45deg)
  h1
    display inline-block
    width 280px
    margin-top 15px
    text-align center
    color white
    font-weight 500
  .pd-l
    -webkit-padding-start 54px
    -moz-padding-start 54px
    padding-start 54px
  .pd-r
    -webkit-padding-end 54px
    -moz-padding-end 54px
    padding-end 54px
#root
  height 100%
.h1, h1
  font-family inherit
  font-weight 500
  line-height 1.1
  color inherit
  margin 0
p
  margin 0
.right
  float right
.left
  float left
.hidden, #hidden
  display none
.rtl
  right 0
.ltr
  left 0

.active-btn
  display inline-block
  border-radius 50px
  border 1px solid transparent
  /* polyfill for old browsers */
  background-color #f0a
  background-color var(--active-color)
  outline none
  text-decoration none
  font-weight 600
  transition background-color 0.3s linear, border-color 0.3s linear, color 0.3s linear
  &:hover, &:focus
    /* polyfill for old browsers */
    background-color #fff
    background-color var(--white-color)
    border-color currentColor
    color var(--active-color) !important

