:root{
    --main-color: #071828;
    --sec-text-color: #616c75;
    --main-bgcolor: #5e36b1;
    --sec-color: #efefff;
    --sec-bgcolor: #bfafe0;
    --basic-color: #5333ed;
    --highlight-color: #ff9416;
    --white-color: #fff;
    --active-color: #ff00aa;
    --dark-color: #4f2da7;
    --font-family: "San Francisco", "Lucida Grande", "Helvetica Neue", Roboto, -apple-system, "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", Arial, sans-serif;
}