.price
  border-radius 1.5rem
  position relative
  width 28rem
  display flex
  flex-direction column
  margin 1.25rem 1.25rem 0
  box-shadow 0 20px 35px 0 rgba(41, 41, 204, 0.16)
  background var(--white-color)
  overflow hidden
  transition transform 0.5s
  .price_header
    position relative
    display flex
    justify-content space-between
    background transparent linear-gradient(248deg, #B688FF 0%, #8144E4 39%, #591EC0 100%) 0% 0% no-repeat padding-box
    .tag_wrap
      position absolute
      bottom -51px
      .tag_container
        position relative
        display flex
        flex-direction column
        align-items center
      .tag_value
        position absolute
        text-transform uppercase
        color var(--white-color)
        white-space nowrap
        font-size 13px
        font-weight bold
        top 30%
        left 50%
        transform translateX(-50%)
    .text_wrap
      padding 1.5rem 0 1.5rem
      width 50%
      color var(--white-color)
      -moz-padding-start 2rem
      -webkit-padding-start 2rem
      padding-inline-start 2rem
      p
        color var(--white-color)
    .price_name
      font-size 1.6875em
      line-height 1.2
    .business_type
      font-size 1rem
      line-height 1.5
    .count
      font-size 2.5rem
      font-weight bold
      -moz-padding-end 0.5rem
      -webkit-padding-end 0.5rem
      padding-inline-end 0.5rem
    .bill_count
      font-size 1rem
    .icon_wrap
      display flex
      align-items center
      flex-grow 1
      justify-content center
      img
        width 100%
        object-fit cover
  .price_body
    flex-grow 1
    display flex
    flex-direction column
    padding 2.1rem 2rem 2rem
    ul
      margin 0
      padding 0
      list-style none
      .business_feature, .not_included_features
        padding 0.5rem 0
        display flex
        align-items center
        font-size 1rem
        img
          -moz-padding-end 0.5rem
          -webkit-padding-end 0.5rem
          padding-inline-end 0.5rem
        span
          line-height 1.25
    .not_included_list
      flex-grow 1
      margin 0 0 1.5rem
      .not_included_features
        color #7e839f
    .feature_important
      font-weight bold
    .link
      display block
      width 100%
      border 2px solid var(--active-color)
      border-radius 0.75rem
      background var(--white-color)
      transition background 0.5s
      text-decoration none
      height 3.75rem
    .paid
      width 100%
      height 100%
      display flex
      align-items center
      justify-content center
      color var(--active-color)
      transition color 0.5s
      font-size 1.25rem
      padding 0 0.5rem
      font-weight bold

  .gift_strip
    display flex
    align-items center
    justify-content center
    padding-top 0.75rem
    img
      -moz-margin-end 0.5rem
      -webkit-margin-end 0.5rem
      margin-inline-end 0.5rem
    p
      font-size 1rem
      line-height 1
      font-weight 600
.zoom
  transform: scale(1.07)
  .price_body
    .link
      background #d7118b
      transition background 0.5s
      border none
    .paid
      color var(--white-color)
.price:hover
  transform scale(1.07)
  transition transform 0.5s
  .price_body
    .link
      background #d7118b
      transition background 0.5s
      border none
    .paid
      color var(--white-color)
      transition color 0.5s


body[style='direction: ltr;']
  .price
    .discount
      right 1rem
  .price_header
    .tag_wrap
      right 0.5rem
body[style='direction: rtl;']
  .price
    .discount
      left 1rem
  .price_header
    .tag_wrap
      right 0.5rem

@keyframes toSave
  0%
    opacity 0
