.price
  padding 3rem 2.3rem 2.25rem
  border-radius 1.25rem
  position relative
  width 28rem
  margin 1.25rem 1.25rem 0
  display flex
  flex-direction column
  align-items center
  box-shadow 0 20px 35px 0 rgba(41, 41, 204, 0.16)
  background-color var(--white-color)
  .discount
    position absolute
    top 0.8rem
    padding 0.6rem 1rem
    border-radius 3rem
    background-color var(--active-color)
    font-size 1rem
    font-weight bold
    color var(--white-color)
    animation toSave 0.5s
    line-height 1
    text-transform uppercase
  .icon_wrap
    display flex
    align-items center
    justify-content center
    width 8rem
    height 8rem
    border-radius 50%
    border solid 2px var(--highlight-color)
    img
      width 4rem
      height 4rem
  .price_info
    display flex
    flex-direction column
    width 100%
    flex-grow 1
  .name-strip
    padding 1.3rem 0 .5rem
    display flex
    align-items center
    width 100%
    justify-content space-between
    .line
      display block
      width 100%
      border-bottom solid 2px var(--highlight-color)
    .price_name
      padding 0 1rem
      font-size 1.375rem
      font-weight 600
      text-transform uppercase
      color var(--highlight-color)
  .price_count
    p
      color var(--basic-color)
    .count
      font-size 3rem
      font-weight bold
      -moz-padding-end 0.5rem
      -webkit-padding-end 0.5rem
      padding-inline-end 0.5rem
    .bill_count
      font-size 1.375rem
  .business_type
    font-size 1.25rem
    font-weight 600
    text-align center
    color var(--basic-color)
  ul
    flex-grow 1
    padding-inline-start 1.5rem
    margin 0 0 2rem
  .business_feature
    padding 0.4rem 0
    -moz-padding-start  0.5rem
    -webkit-padding-start  0.5rem
    padding-inline-start 0.5rem
    font-size 1rem
  .gift_strip
    display flex
    align-items center
    justify-content center
    padding-bottom 0.75rem
    img
      -moz-margin-end 0.5rem
      -webkit-margin-end 0.5rem
      margin-inline-end 0.5rem
      margin-bottom 0.3rem
    p
      font-size 1rem
      line-height 1
      font-weight 600
  .link
    display block
    width 100%
    text-decoration none
  .paid
    box-shadow 0 3px 6px 0 rgba(0, 0, 0, 0.1)
    background-image linear-gradient(to bottom, #ff00aa, #b91d73)
    width 100%
    display flex
    align-items center
    justify-content center
    color white
    padding 1rem 0
    border-radius 0.5rem
    font-size 1.25rem
    font-weight bold
.basic_price
  background-image linear-gradient(158deg, #591ec0, #6623db 29%, #7d3ee8 57%, #be95ff 119%)
  .price_count
    p
      color var(--highlight-color)
  .business_feature,
  .business_type
    color var(--white-color)
  .gift_strip
    p
      color var(--white-color)
  .paid
    background-image linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0.75) 27%, rgba(255, 255, 255, 0.6))
    color var(--basic-color)
body[style='direction: ltr;']
  .price
    .discount
      right 1rem
body[style='direction: rtl;']
  .price
    .discount
      left 1rem

@keyframes toSave
  0%
    opacity 0
