// @import '../../variables.css'
#showcases
  height 100vh
  background-repeat: no-repeat;
  background-position-x: 110%;
  display flex
  overflow hidden
  .main-box
    display flex
    width 100%
    position relative
    // justify-content center
    .sub-box
      display flex
      position relative
      width 50%
      flex-direction column
      justify-content center
      flex-wrap wrap
      z-index 1
      padding 0 10rem 0 10rem
      a 
        font-weight 600
        cursor pointer
        font-size 1rem
        border-radius 50px
        border none
        letter-spacing: 1.2px;
        background-color #ff00aa
        background-color var(--active-color)
        outline none
        padding 15px 50px
        color #fff;
        text-decoration none
        cursor pointer
      a:hover
        background-color #9457f5
      a:focus
        background-color #ff00aa
        background-color var(--active-color)
        color var(--white-color)
    .ellipse-1
      width 200px
      position absolute
      left -4rem
      top 10rem
    .ellipse-2
      width 70px
      position absolute
      left 4rem
      top 60%
    .ellipse-3
      width 50px
      position absolute
      left 20rem
      top 15%
    .ellipse-4
      width 20px
      position absolute
      left 30rem
      top 15%
    .ellipse-5
      width 30px
      position absolute
      left 25rem
      top 50%
    .ellipse-6
      // width 30px
      position absolute
      left -4rem
      bottom 4%
    .main-desc
      h2
        font-size 3rem
        margin 0
    .desc
      padding 20px 0 50px 0
      p
        font-size 1.2rem
    .img-box
      width 50%
      position relative  
      img 
        width 520px
      .first-phone
        position absolute
        right -10rem
        width 520px
      .second-phone
        position absolute
        right 10rem
        top 2rem
      .third-phone
        position absolute
        right 5rem
        top 27rem
      .last-phone
        position absolute
        right -18rem
        top 20rem
@media screen and (min-width 375px) and (max-width 768px)
  #showcases
    background-position-x: 3% !important
    background-position-y: 30% !important
    background-size 161%
    .main-box
      justify-content center
      .sub-box
        padding 0 !important
        width 90% !important
      .main-desc
        text-align center
      .desc
        padding 20px 0 10px 0 !important
        text-align center
      .btn-more
        margin 0 auto
      .img-box
        display none
@media screen and (min-width 769px) and (max-width 1024px)
  #showcases
    background-position-x: 1436% !important
    background-position-y: 50% !important
    .sub-box
      margin-top 3rem
      padding 0 0 0 5rem !important
      width 50% !important
    .img-box
      top 18%
      .first-phone
        right: -9rem !important
        top: 10rem !important
      .second-phone
        right: 6rem !important
        top: 13rem !important
      .third-phone
        right: 2rem !important
        top: 29rem !important
      .last-phone
        right: -12.5rem !important
        top: 27rem !important
      img 
        width 70% !important
@media screen and (min-width 1025px) and (max-width 1280px)
  #showcases
    background-position-x: 136% !important
    background-position-y: 45% !important
    .sub-box
      padding 0 0 0 5rem !important
      width 45% !important
    .img-box
      top 15%
      .first-phone
        right: -3rem !important
        top: 7rem !important
      .second-phone
        right: 11rem !important
        top: 7rem !important
      .third-phone
        right: 8rem !important
        top: 27rem !important
      .last-phone
        right: -8rem !important
        top: 23rem !important
      img 
        width 60% !important
@media screen and (min-width 1281px) and (max-width 1600px)
  #showcases
    background-position-x: 108% !important
    background-position-y: 45% !important
    .sub-box
      padding 0 0 0 4rem !important
      width 45% !important
      margin-top: 4rem;
    .img-box
      top 0
      .first-phone
        right: 0rem !important
        top: 7rem !important
      .second-phone
        right: 15rem !important
        top: 8rem !important
      .third-phone
        right: 12rem !important
        top: 27rem !important
      .last-phone
        right: -5rem !important
        top: 23rem !important
      img 
        width 50% !important
      // display none
@media screen and (min-width 1600px) and (max-width 1919px) and (min-height 850px) and (max-height 900px)
  #showcases
    background-position-x: 107% !important
    background-size 66%
    .sub-box
      padding 0 0 0 14rem !important
    .img-box
      top 2%
      right 3%
@media screen and (min-width 1920px) and (min-height 900px)
    #showcases
      background-position-x: 107% !important
      background-size 63%
      .sub-box
        padding 0 2rem 0 24rem !important
      .img-box
        right 8%
// @media screen and (min-width 1600px) and (max-width 1919px)
//     .sub-box
//       padding 0 0 0 7rem !important
// @media screen and (max-width 1000px)
//   #showcases
//     background-position-x: unset !important
//     .main-box
//       justify-content center
//       .sub-box
//         width 80% !important
//         text-align center
//         padding 0 !important
//       .img-box
//         display none
//         // img 
//         //   width 300px !important
//         // .second-phone
//         //   right 11rem !important
//         //   top 2rem  !important
//         // .third-phone
//         //   right 8rem !important
//         //   top 27rem !important
//         // .last-phone
//         //   right 5rem !important
//         //   top 20rem !important
// @media screen and (max-width 700px)
//   #showcases
//     background-position-x: unset !important
//     .sub-box
//       width auto !important
//       padding 0 !important
//       text-align center