#showcases
  padding-top 4rem
  overflow hidden
  display flex
  height 153vh
  max-height 62rem
  .main-box
    display flex
    width 100%
    .sub-box
      display flex
      position relative
      min-width 640px
      align-items flex-start
      flex-direction column
      width 40%
      padding-top 2%
      -moz-padding-start 7.5%
      -webkit-padding-start 7.5%
      padding-inline-start 7.5%
      h2
        font-size 3.125rem
        max-width 82%
        line-height 1.12
        margin 0
        font-weight bold
      p
        padding 1.5rem 0 3.75rem
        padding-bottom 2.75rem
        max-width 82%
        line-height 1.25
        font-size 1.375rem

    .img-container
      position relative
      height 100%
      flex-grow 1
      img 
        position: absolute
        border-radius: 20px
    .icon-1
      transform: skew(35.7deg, -22deg);
    .icon-2
      transform skew(35.7deg, -22deg)
    .icon-3
      transform skew(35.7deg, -22deg)
    .icon-4
      transform skew(35.7deg, -22deg)
    .frame-1, .frame-2, .frame-3, .frame-4
      width 28.5rem
      height auto
    .frame-1
      top 2.1rem
    .frame-2
      top 5.1rem
    .frame-3
      top 18.1rem
    .frame-4
      top 26.1rem
    .ltr-frame-1
      left 6.8rem
    .ltr-frame-2
      left 28.8rem
    .ltr-frame-3
      left -1.2rem
    .ltr-frame-4
      left 23.8rem
    .rtl-frame-1
      right -1.4rem
      top 4.1rem
    .rtl-frame-2
      right 18.6rem
    .rtl-frame-3
      right 1rem
      top 29rem
    .rtl-frame-4
      right 26.6rem
      top 22.1rem
    .icon-1, .icon-2, .icon-3, .icon-4
      width 12.5rem
      height 21.5rem
      box-shadow 0 20px 40px 0 rgba(0, 0, 0, 0.35)
    .ltr-icon-1
      left 14.8rem
    .icon-1
      top 4.5rem
    .rtl-icon-1
      right 6.7rem
      top 6.5rem
    .icon-2
      top 7.5rem
    .rtl-icon-2
      right 26.7rem
    .ltr-icon-2
      left 36.8rem
    .icon-3
      top 20.5rem
    .rtl-icon-3
      right 8.9rem
      top 31.4rem
      z-index -1
    .ltr-icon-3
      left 6.8rem
    .icon-4
      top 28.5rem
    .ltr-icon-4
      left 31.8rem
    .rtl-icon-4
      right 34.7rem
      top 24.5rem

@media screen and (min-width 1024px) and (max-width 1365px)
  #showcases
    height 130vh !important
    max-height 50rem !important
    .main-box
      .sub-box
        width 50%
        padding-top 2%
        -moz-padding-start 5%
        -webkit-padding-start 5%
        padding-inline-start 5%
        -moz-padding-end 2%
        -webkit-padding-end 2%
        padding-inline-end 2%
        p
          padding 0.5rem 0 2.75rem
      .main-desc
        text-align center
      .desc
        text-align: center
  .img-container
    .frame-2, .frame-4, .icon-2, .icon-4
      display none
    .frame-1, .frame-3
      width 28.5rem !important
      height auto !important
    .frame-1
      top 2.1rem !important
    .frame-3
      top 18.1rem !important
    .ltr-frame-3
      left -1.1rem !important
    .ltr-frame-1
      left 6.9rem !important
    .rtl-frame-1
      right -1.4rem !important
      top 3rem !important
    .rtl-frame-3
      right 5.6rem !important
      top 20rem !important
    .icon-1, .icon-3
      width 12.5rem !important
      height 21.5rem !important
    .ltr-icon-1
      left 14.8rem !important
    .icon-1
      top 4.5rem !important
    .rtl-icon-1
      right 6.7rem !important
      top 5.5rem !important
    .icon-3
      top 20.5rem !important
    .rtl-icon-3
      right 13.7rem !important
      top 22.5rem !important
    .ltr-icon-3
      left 6.8rem !important

@media screen and (min-width 768px) and (max-width 1023px)
  #showcases
    height 100vh !important
    max-height 35rem !important
    .main-box
      .sub-box
        width 55%
        min-width 480px
        padding-top 2%
        -moz-padding-start 5%
        -webkit-padding-start 5%
        padding-inline-start 5%
        -moz-padding-end 2%
        -webkit-padding-end 2%
        padding-inline-end 2%
        h2
          font-size 2.75rem
        p
          font-size 1.25rem
          padding 0.5rem 0 2.75rem
      .main-desc
        text-align center
      .desc
        text-align center
  .img-container
    .frame-1, .frame-2, .frame-4, .icon-1, .icon-2, .icon-4
      display none
    .frame-3
      width 28.5rem !important
      height auto !important
    .frame-3
      top 2.1rem !important
    .ltr-frame-3
      left -1.2rem !important
    .rtl-frame-3
      right -4.1rem !important
      top 2.1rem !important
    .icon-3
      width 12.5rem !important
      height 21.5rem !important
    .icon-3
      top 4.5rem !important
    .rtl-icon-3
      right 3.8rem !important
      top 4.5rem !important
    .ltr-icon-3
      left 6.8rem !important

@media screen and (min-width 320px) and (max-width 767px)
  #showcases
    height 70vh !important
    max-height 30rem !important
    .main-box
      .sub-box
        width 100%
        min-width auto
        padding-top 5%
        -moz-padding-start 10%
        -webkit-padding-start 10%
        padding-inline-start 10%
        -moz-padding-end 15%
        -webkit-padding-end 15%
        padding-inline-end 15%
        h2
          font-size 2.75rem
        p
          font-size 1.25rem
          padding 0.5rem 0 2.75rem
      .main-desc
        text-align center
      .desc
        text-align center
  .img-container
      display none


@media screen and (min-width 1920px)
  #showcases
    max-height 87.5rem
    padding-top 6rem
    .main-box
      .sub-box
        padding-top 10%
        padding-inline-end 0
    .img-container
      .frame-1, .frame-2, .frame-3, .frame-4
          width 40rem !important
          height 38.625rem !important
        .frame-1 
          top 3.5rem !important
        .frame-2
          top 6.5rem !important
        .frame-3
          top 30.5rem !important
        .frame-4
          top 38.5rem !important
        .icon-1
          top: 6.8rem !important;
          width: 17.5rem !important;
          height: 31rem !important;
        .icon-2
          top 9.8rem !important
          width 17.5rem !important
          height 31rem !important
        .icon-3
          top 33.8rem !important
          width 17.5rem !important
          height 31rem !important
        .icon-4
          top 41.8rem !important
          width 17.5rem !important
          height 31rem !important
        .rtl-frame-1
          right -1rem !important
          top 12.5rem !important
        .ltr-frame-1
          left 9rem !important
        .rtl-frame-2
          right 30rem !important
        .ltr-frame-2
          left: 41rem !important;
        .rtl-frame-3
          right 6rem !important
          top 40.5rem !important
        .ltr-frame-3
          left -1rem !important
        .rtl-frame-4
          right 35rem !important
          top 37.5rem !important
        .ltr-frame-4
          left 34rem !important
        .ltr-icon-1
          left 20.6rem !important
        .rtl-icon-1
          right 10rem !important
          top 15.8rem !important
        .ltr-icon-2
          left 52.5rem !important
        .rtl-icon-2
          right 41rem !important
        .ltr-icon-3
          left 10.5rem !important
        .rtl-icon-3
          right 17rem !important
          top 43.8rem !important
        .ltr-icon-4
          left 45.5rem !important
        .rtl-icon-4
          right 46rem !important
          top 40.8rem !important