#showcases
  padding-top 4rem
  overflow hidden
  display flex
  height 127vh
  max-height 57rem
  .main-box
    display flex
    width 100%
    .sub-box
      display flex
      position relative
      min-width 560px
      align-items flex-start
      flex-direction column
      width 40%
      padding-top 2%
      -moz-padding-start 7.5%
      -webkit-padding-start 7.5%
      padding-inline-start 7.5%
      h2
        font-size 3.125rem
        line-height 1.12
        margin 0
        font-weight bold
      p
        padding 1.5rem 0 3.75rem
        padding-bottom 2.75rem
        max-width 91%
        line-height 1.25
        font-size 1.375rem

    .img-container
      position relative
      height 100%
      flex-grow 1
      img 
        position absolute
        border-radius 20px
    .icon-1, .icon-2, .icon-3, .icon-4
      width 29.875rem
      height 26.625rem
    .ltr-icon-1
      left 9rem
    .icon-1
      top -1rem
    .icon-2
      top -4rem
    .rtl-icon-2
      right 19.5rem
      top 1rem
    .rtl-icon-1
      right 1rem
    .ltr-icon-2
      left 27rem
    .icon-4
      top 14rem
    .icon-3
      top 19rem
    .rtl-icon-4
      right 1rem
      top 21rem
      z-index -1
    .ltr-icon-4
      left 2rem
    .ltr-icon-3
      left 28rem
    .rtl-icon-3
      right 26rem
      top 16rem

@media screen and (min-width 1024px) and (max-width 1365px)
  #showcases
    height 130vh !important
    max-height 50rem !important
    .main-box
      .sub-box
        width 42%
        padding-top 2%
        -moz-padding-start 5%
        -webkit-padding-start 5%
        padding-inline-start 5%
        -moz-padding-end 2%
        -webkit-padding-end 2%
        padding-inline-end 2%
        p
          padding 0.5rem 0 2.75rem
      .main-desc
        text-align center
      .desc
        text-align center

@media screen and (min-width 768px) and (max-width 1023px)
  #showcases
    height 100vh !important
    max-height 44rem !important
    .main-box
      .sub-box
        width 45%
        min-width 440px
        padding-top 2%
        -moz-padding-start 5%
        -webkit-padding-start 5%
        padding-inline-start 5%
        h2
          font-size 2.75rem
        p
          font-size 1.25rem
          padding 0.5rem 0 2.75rem
      .main-desc
        text-align center
      .desc
        text-align center

@media screen and (min-width 320px) and (max-width 767px)
  #showcases
    height 70vh !important
    max-height 30rem !important
    .main-box
      .sub-box
        width 100%
        min-width auto
        padding-top 5%
        -moz-padding-start 10%
        -webkit-padding-start 10%
        padding-inline-start 10%
        -moz-padding-end 15%
        -webkit-padding-end 15%
        padding-inline-end 15%
        h2
          font-size 2.75rem
        p
          font-size 1.25rem
          padding 0.5rem 0 2.75rem
      .main-desc
        text-align center
      .desc
        text-align center
  .img-container
      display none


@media screen and (min-width 1920px)
  #showcases
    max-height 87.5rem
    padding-top 4rem
    .main-box
      .sub-box
        padding-top 10%
        padding-inline-end 0
        width 37%
        h2
          font-size 3.75rem
        p
          font-size 1.75rem
    .img-container
        .icon-1, .icon-2, .icon-3, .icon-4
          width 42.125rem !important
          height 37.5rem !important  
        .icon-1
          top 6rem !important
        .icon-2
          top 3rem !important
        .icon-4
          top 29rem !important
        .icon-3
          top 34rem !important
        .ltr-icon-1
          left 16rem !important
        .rtl-icon-1
          right 2rem !important
          top 2rem !important
        .ltr-icon-2
          left 42rem !important
        .rtl-icon-2
          top 5rem !important
          right 28rem !important
        .ltr-icon-4
          left 8rem !important
        .rtl-icon-4
          right 2rem !important
          top 33rem !important
        .ltr-icon-3
          left 42rem !important
        .rtl-icon-3
          right 37rem !important
          top 27rem !important