#hero
	.swiper-slide
		display flex
		justify-content space-between
		opacity 0 !important
		.screen-img
			height 74vh
			max-height 800px
			width auto
			border-radius 1rem
	.swiper-slide-active
		opacity 1 !important
	.swiper-slide-prev
		opacity 0 !important
	.swiper-slide-next
		opacity 0 !important
		