#hero
	.swiper-slide
		display flex
		justify-content space-between
		opacity 0 !important
		.screen-img
			height 73vh
			max-height 790px
			width auto
			border-radius 2.5rem
	.swiper-slide-active
		opacity 1 !important
	.swiper-slide-prev
		opacity 0 !important
	.swiper-slide-next
		opacity 0 !important
		