#hero
	.titles_carousel
		.hero_title
			.main-title, .hero-description
				overflow hidden
	.sup-block
		.header-content-wrap-text
			.main-title
				padding 2rem 1rem 1rem
				h1
					animation texteAnimation 0.6s forwards
					animation-delay 0.6s
					text-align center
			.main-description
				margin 0 1rem 2rem
				p
					text-align center
					font-size 1.125rem
			.main-strip_wrap
				width 100%
				display flex
				justify-content center
				padding-top 2.875rem 
				opacity 0
				animation main-strip 1s forwards
				animation-delay 1s
				picture
					display flex
					align-items center
					justify-content center
					width 20rem
				img
					width 20rem
					object-fit cover
			.titles_carousel.active
				opacity 1
				.screen-img
					transform translate(-50%, -50.5%) scale(1) !important
					opacity 1
					transition transform 0.3s, opacity 0.4s
@keyframes main-strip
	0%
		opacity 0
	100%
		opacity 1
@keyframes texteAnimation
	0%
		opacity 0
		transform translateY(100%)
  100%
		opacity 1