.dropDown_wrap
  display none
  position absolute
  padding-top 1.2rem
  top 100%
  z-index 3
  .dropDown_list
    padding 0.6rem 0
    -moz-padding-start 1.75rem
    -webkit-padding-start 1.75rem
    padding-inline-start 1.75rem
    -moz-padding-end 3rem
    -webkit-padding-end 3rem
    padding-inline-end 3rem
    margin 0
    border-radius 1rem
    background var(--dark-color)
    animation dropDown 0.3s
    .dropDown_item
      list-style none
      a
        display block
        padding 0.6rem 0
        white-space nowrap
        text-decoration none
        font-weight bold
        font-size 1.1rem
        color var(--white-color)
      a:hover
        color var(--active-color) !important
        transition: color 0.3s

  @keyframes dropDown {
    0% {
      height 0
      opacity 0
    }
  }
body[style="direction: rtl;"]
  .dropDown_wrap
    left 0%
body[style="direction: ltr;"]
  .dropDown_wrap
    right 0%