// @import '../../../../variables.css'
#appoinments
  margin .2rem auto .2rem auto
  background-color white
  border-radius .5rem
  padding .5rem .95rem 1rem
  width 95%
  .order-in
    width 100%
    text-align end
    font-size .7rem
    color var(--sec-bgcolor)
    .date_month
      padding 0 .3rem
  .date-wrap
    display flex
    padding-top .3rem
    justify-content space-between
    .date
      span
        -webkit-padding-start .65rem
        -moz-padding-start .65rem
      .date-day
        span
          font-weight bold
          font-size .75rem
          color var(--dark-color)
      .date-time
        margin-top .5rem
        span
          font-weight 900
          font-size 1rem
          color var(--main-color)
    .cancel
      text-transform uppercase
      font-weight bold
      font-size .75rem
      color #FF2D2D
  .worker-info
    margin-top 1rem
    .worker-label
      font-weight bold
      font-size .75rem
      color var(--dark-color)
    .worker
      display flex
      padding .6rem 0 0
      align-items center 
      img
        display block
        border-radius 50%
        object-fit cover
        height 1rem
        width 1rem
      .worker-name
        font-size 1rem
        letter-spacing .1rem
        -webkit-padding-start .4rem
        -moz-padding-start .4rem
        color var(--main-color)
  .procedures
    margin-top 1rem
    font-weight bold
    font-size .75rem
    color var(--dark-color)
  .service-wrap
    display flex
    padding .4rem 0 1.3rem
    width 100%
  .procedures-list
    display flex
    flex-wrap wrap
    width 80%
    color var(--main-color)
    .procedures-item
      -webkit-padding-start .5rem
      -moz-padding-start .5rem
    .service
      display flex
      align-items center
    .icon-wrap
      display inline-block
      height 25px
      width 25px
      float left
    .icon
      display block
      border-radius 50%
      height 10px
      width 10px
    .name
     -webkit-padding-start .5rem
     -moz-padding-start .5rem
  .total-price
    display flex
    font-weight 300
    justify-content center
    align-items baseline
    width 20%
    .price
      -webkit-padding-end .2rem
      -moz-padding-end .2rem
      font-weight bold
      font-size 1rem
  .note
    padding 0 .5rem 0.5rem 0
    .title
      font-weight bold
      font-size .75rem
      color var(--dark-color)
    .gallery-note
      display flex
      justify-content space-between
    .note-txt
      font-size 0.9rem
      color var(--main-color)
      p
        max-width 19rem
      .ellipsis
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
    .text-expand
      padding-bottom 0.3rem
      .rotate
        transform rotate(180deg)
  .address
    display flex
    padding .8rem 0 1rem
    width 100%
    .icon
      display flex
      justify-content center
      width 20%
      .map-link
        display block
      img
        width auto
        height 50px
    .data
      width 80%
      .meet
        font-weight bold
        font-size .75rem
        color var(--dark-color)
      .address
        color var(--main-color)
        font-size .9rem
