// @import "../../../../variables.css"
#address
  .address-header
    background-color var(--main-bgcolor)
    min-height 3em
    padding 5px
    display flex
    justify-content center
    border-top-right-radius 8px
    border-top-left-radius 8px
    .address-name
      color white
      margin auto 0
      width 55%
      font-weight 600
    .close-button
      right 0
      position absolute
      padding 5px 10px
  .address-body
    .map
      width 100%
    .search-box
      top 12%
      left 25%
      width 55%
      margin auto
      display flex
      border-radius 8px
      position absolute
      align-items center
      flex-direction row
      border 2px solid var(--main-bgcolor)
      background-color white
      .search-input
        width 85%
        border none
        margin 0 5px
      button
        background-color transparent
        border none
        .icon
          width 10px
    .block-text
      padding 20px 0
      display flex
      justify-content center
      flex-direction row
      .address-name
        font-weight 600
      .input-change-address
        border none
        border-bottom 1px solid #dedeff
        width 70%
        color var(--dark-color)
      .icon
        padding-left 10px
  .body-agree
    text-align center
    padding 10px
    display flex
    align-items center
    justify-content center
    font-size 1.5em
    font-weight 600
    color black
  .address-footer, .footer-agree
    border-top 2px solid #dedeff
    button
      background-color transparent
      border none
      width 50%
      height 3em
    .no-btn
      border-right 1px solid #dedeff
      color #72C71C
    .yes-btn
      color #FF2D2D
      border-left 1px solid #dedeff
.hidden
  display none
