.lead_content
  display flex
  padding-top 1.5rem
  flex-direction column
  align-items center
  justify-content center
  position relative
  background-image: linear-gradient(to bottom, #591ec0, #7535e4 53%, rgba(169, 122, 248, 0))
  z-index 1
  .wave_left
    position absolute
    top 6rem
    width 100%
    z-index 0
    left 0
  .title-wrap
    display flex
    justify-content center
    width 100%
    padding 0 1.5rem
    align-items center
    .lead_title
      font-size 2rem
      font-weight bold
      line-height 1
      color var(--white-color)
      margin 0
      text-align center
    .emoji
      min-width 2rem
      height 2rem
      -moz-margin-start 0.5rem
      -webkit-margin-start 0.5rem
      margin-inline-start 0.5rem
  .lead_subtitle
    padding 1rem 2rem 0
    font-size 1.125rem
    color var(--white-color)
  .form_container
    width 100%
    padding 0 2rem
    margin-bottom 2.75rem
  form
    background-color var(--white-color)
    width 100%
    display flex
    flex-direction column
    align-items center
    justify-content center
    margin-top 6rem
    border-radius 1.25rem
    padding 1.5rem 1.5rem 4rem
    position relative
    .lead_inputs
      width 100%
      display flex
      flex-direction column
      justify-content center
      .name_input_wrap, .contact_input_wrap
        display flex
        align-items center
        width 100%  
        background-color #f2f2ff
        padding 0.625rem 1rem
        border-radius 0.75rem
        border 2px solid #f2f2ff
      input
        width 100%
        border-radius 0.75rem
        border none
        text-indent 1rem
        font-size 1rem
        background-color transparent
        outline none
        color var(--lead-color)
      input::placeholder
        color #7e839f
      input.warning_contact::placeholder, input.warning_name::placeholder
        color var(--warning-color)
      .warning_input
        border 2px solid var(--warning-color)
        transition border-color 0.5s
      .name_input_wrap
        margin-bottom 0.75rem
    .submit_btn
      display flex
      align-items center
      cursor pointer
      justify-content center
      text-transform uppercase
      position relative
      margin-top 2.25rem
      padding 1rem 2.25rem
      min-width 9.375rem
      color var(--white-color)
      background-image linear-gradient(to top, #591ec0, #6623db, #6826dc, #7d3ee8 53%, #be95ff)
      transition color 0.3s
      border-radius 3.125rem
      font-size 1.125rem
      font-weight bold
      overflow hidden
      box-shadow 0 16px 20px 0 rgba(0, 0, 0, 0.22)
      z-index 1
      position absolute
      bottom 0
      transform translateY(50%)
    .inactive
      transition opacity 0.5s 
      opacity 0.8
  @keyframes send
    0%
      transform translateX(-4rem)
  @keyframes send_rtl
    0%
      transform translateX(4rem) scale(-1, 1)
    100%
      transform scale(-1, 1)
body[style='direction: rtl;']
  .submit_btn
    .icon-send
      img
        transform scale(-1, 1)
  .submit_btn:before
    right 0
  .submit_btn:hover
    .icon-send
      svg
        animation send_rtl 0.3s linear forwards
  .inactive:hover
    .icon-send
      svg
        animation none
body[style='direction: ltr;']
  .submit_btn:hover
    .icon-send
      svg
        animation send 0.3s linear
  .inactive:hover
    .icon-send
      svg
        animation none

