#pricing
  .pricing_wrap
    padding 2.5rem 0 5rem
    display flex
    flex-direction column
    align-items center
    h2
      margin 0
      font-size 3.5rem
      font-weight bold
    .switch_box
      display flex
      align-items center
      padding 1rem 0
      span
        font-size 1.25rem
      .yearly_wrap
        position relative
        .to_save
          position absolute
          white-space nowrap
          top -1rem
          left 50%
          transform translateX(-50%)
          font-size 0.875rem
          color var(--active-color)
          animation: toSave 0.5s
      .normall
        color inherit
        transition color 0.3s
      .active
        color var(--basic-color)
        transition color inherit
      input[type='checkbox']
        -moz-appearance none
        -webkit-appearance none
        box-sizing content-box
        position relative
        background-color var(--basic-color)
        border-radius 3rem
        width 3.75rem
        height 2rem
        outline none
        display flex
        align-items center
        margin 0 2rem
        justify-content center
      input[type='checkbox']:before
        content ''
        display block
        width 1.5rem
        position absolute
        top 50%
        height 1.5rem
        border-radius 50%
        box-shadow 0 2px 1px 0 rgba(0, 0, 0, 0.24)
        background-color var(--white-color)
    .pricing_plans
      padding-top 0.5rem
      width 90%
      display flex
      justify-content center
body[style='direction: ltr;']
  #pricing
    .switch_box
      input[type='checkbox']:before
        transform: translate(60%, -50%)
        transition transform 0.5s
      input[type='checkbox']:checked:before
        transform translate(-60%, -50%)
        transition transform 0.5s
body[style='direction: rtl;']
  #pricing
    .switch_box
      input[type='checkbox']:before
        transform translate(-43%, -50%)
        transition transform 0.5s
      input[type='checkbox']:checked:before
        transform translate(43%, -50%)
        transition transform 0.5s

@media screen and (min-width 320px) and (max-width 1366px)
  #pricing
    .pricing_wrap
      .pricing_plans
        .price
          max-width 23rem
@media screen and (min-width 320px) and (max-width 1200px)
  #pricing
    .pricing_wrap
      .pricing_plans
        flex-wrap wrap
@media screen and (min-width 1920px)
  #pricing
    .pricing_wrap
      padding 3.5rem 0 9rem
      h2
        font-size 4.5rem   
      .switch_box
        padding 1.9rem 0
        span
          font-size 1.75rem
        .to_save
          font-size 1.125rem !important
          top -1.3rem !important
      .pricing_plans
        padding-top 3rem
        width 80%
      .price
        min-width 23.75rem
        width 25%

@keyframes toSave
  0%
    opacity 0
