// @import '../../variables.css'
#topnav
    background-color var(--dark-color)
  .header
    height 3.45em
    display flex
    -webkit-align-items center
    -webkit-box-align center
    -ms-flex-align center
    position relative
    padding 0 18px
    justify-content center
    .arrow-wrap
      width: 11px;
      height: 18px;
      -webkit-margin-end 17px
      -moz-margin-end 17px
      position absolute
      .arrow-back
        color white
        cursor pointer
        width 0.8em
    .client-name
      .icon-online
        display none
        background #09ce17
        border 2px solid white
        border-radius 50%
        transform translateY(2px)
        height 18px
        width 18px
      h1
        color white
        font-size 1.5em
      span
        color white
        display flex
        justify-content center
        padding-top 2px
        font-size 0.73em
        font-weight 100
    .edit-wrap
      width: 20px;
      height: 18px;
      position absolute
      -webkit-margin-start 17px
      -moz-margin-start 17px
      .edit
        width 1.5em
        border none
        color white
        &:focus
          outline none
      .add
        height 30px
        margin-top -2px
