.logo
  display flex
  align-items center
  .logo-text
    display flex
    -moz-padding-end 1.6rem
    -webkit-padding-end 1.6rem
    padding-inline-end 1.6rem
@media screen and (min-width 1920px)
  .logo-text
    img
      width 9.75rem
      height 2rem