.logo
  display flex
  align-items center
  .logo-text
    padding-inline-start: .5rem
    -webkit-padding-start .5rem
    -moz-padding-start .5rem
    width: 115px;
    height: 38px;
    -webkit-text-stroke: 1px #ffffff;
    font-size: 32px;
    font-family var(--font-family)
    line-height: 1.19;
    letter-spacing: 1.28px;
