.logo
  display flex
  align-items center
  .logo-text
    padding-inline-end: 2.5rem
    -webkit-padding-end 2.5rem
    -moz-padding-end 2.5rem
    -webkit-text-stroke: 1px #ffffff;
    font-size: 32px;
    font-family var(--font-family)
    line-height: 1.19;
    letter-spacing: 1.28px;
