#notes
  .note-header
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  .note-body
    overflow hidden
    overflow-y auto
    .note-list
      min-height 4em
      .left-side
        .date
          .notes-list-date
            color var(--dark-color)
            font-size 0.8em
            font-weight 600
  .note-footer
      margin-top 1px
      border-top 1px solid #dedeff
      label
        color var(--dark-color)
        font-size 0.8em
        font-weight 700
        margin auto 10px
