.attach_file
  position relative
  padding-top 1rem
  width 54%
  margin 0 auto
  .attach_text
    font-size 1rem
    font-weight 600
    line-height 1
    padding-bottom 0.5rem
  .attach_file_input
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    z-index 2
    opacity 0
  .attach_button
    margin-inline-start 1.375rem
    display flex
    align-items flex-end
    padding 0
    color var(--attach-color)
    font-size 1rem
    font-weight normal
    span
      line-height 1
    img
      margin-inline-end 0.5rem