.useful_links
  display flex
  align-items center
  padding 2.875rem 0
  flex-direction column
  h2
    margin 0
    padding-bottom 1.5rem
    font-size 3.125rem
    font-weight bold
@media screen and (min-width 320px) and (max-width 767px)
  .useful_links
    padding-top 2rem
    h2
      font-size 2.5rem
@media screen and (min-width 1920px)
  .useful_links
    font-size 3.75rem