// @import '../../variables.css'
#header
  .contact_head
    display flex
    z-index: 1
    padding: 2rem 11% 2rem 11%;
    background-image: linear-gradient(119deg, #441595, rgba(89, 30, 192, 0.94) 22%, rgba(110, 43, 217, 0.75) 53%, rgba(131, 74, 223, 0.85) 79%, #9f61f7);
    .top-nav
      display flex
      font-weight 600
      align-items center
      width 47%
      justify-content space-between
      z-index 1
      margin-inline-end 30%
      text-transform uppercase
      font-size: 1.125rem
      a
        color var(--white-color)
        text-decoration none
        cursor pointer
        transition color 0.3s linear
      a:hover
        color var(--active-color)
      a:focus
        color var(--white-color)
    .logo-wrap
      display flex
      z-index 1
      align-items center
    .log-in
      font-weight 600
      text-transform uppercase
      font-size: 1.125rem
      z-index: 1
      align-items center
      display flex
      a
        color var(--white-color)
        text-decoration none
        cursor pointer
      .login-btn
        cursor pointer
        transition color 0.2s linear
      .login-btn:hover
        color var(--active-color)
      .login-btn:focus
        color var(--white-color)
      .sign-in-btn
        transition background-color 0.3s linear
        font-weight 600
        cursor pointer
        height 48px
        display flex
        align-items center
        margin-inline-start 25px
        -webkit-margin-start 25px
        -moz-margin-start 25px
        padding 0 25px
        border-radius 50px
        background-color rgba(131, 74, 223, 0.85)
        border 3px solid var(--white-color)
      .sign-in-btn:hover
        background-color #fff
        background-color var(--white-color)
        color var(--active-color)
      .sign-in-btn:focus
        background-color rgba(131, 74, 223, 0.85)
        color var(--white-color)
    .lang-block
      display flex
      align-items: center;
      padding-inline-start: 3rem;
      .img-wrap
        display flex
      .lang-text
        padding-inline-start: 0.5rem
        font-size: 1.125rem
        text-transform: uppercase
        color var(--white-color)
        font-weight: 600
    .lang_dropdown
      display flex
      align-items center
      position relative
      height 100%
    .lang_dropdown:hover .dropDown_wrap
      display flex
      justify-content flex-end
    .lang_dropdown:hover .lang-text
      color var(--active-color)
      transition: color 0.3s

h2
  font-weight: normal

@media screen and (min-width 1920px) and (max-width 2560px)
  .top-nav
    font-size 1.125rem !important
    margin-inline-end 20% !important   
@media screen and (min-width 1600px) and (max-width 1920px)
  .top-nav
    font-size 1.125rem !important
    margin-inline-end 20% !important
   
@media screen and (min-width 1300px) and (max-width 1599px)
  .contact_head
    padding 2rem 3% !important
    justify-content: space-around;
    .top-nav
      font-size 1.125rem !important
      margin-inline-end 10% !important

@media screen and (min-width 1200px) and (max-width 1299px)
  .contact_head
    padding 2rem 3% !important
    justify-content: space-between
    .top-nav
      font-size 1.125rem !important
      margin-inline-end 0 !important
      width 54% !important
      
@media screen and (min-width 1000px) and (max-width 1199px)
  .contact_head
    padding 2rem 0% !important
    justify-content: space-around
    .top-nav
      font-size 1.125rem !important
      margin-inline-end 0 !important
      width 53% !important
    .lang-block
      padding-inline-start: 0rem !important

@media screen and (min-width 768px) and (max-width 999px)
  .contact_head
    padding 1rem 1% !important
    justify-content: space-between;
    flex-direction row !important
    .top-nav
      margin-inline-end 0 !important
      width 53% !important
      font-size 0.8125rem !important
     .log-in
        font-size 0.8125rem !important
    .lang-block
      padding-inline-start: 0rem !important
      .lang-text
        font-size 0.8125rem !important
      .img-wrap
        width: 18px;
        height: 18px;
