#leads
  min-height 23.125rem
  // padding 0
  position relative
  display flex
  overflow hidden
  justify-content center
  flex-direction column
  align-items center
  justify-content space-between
  margin-bottom 6rem
  background-color: #efefff
  box-shadow 0 20px 35px 0 rgba(41, 41, 204, 0.16)
  // background-image: linear-gradient(to bottom, #591ec0, #7535e4 53%, rgba(169, 122, 248, 0))
  // background transparent linear-gradient(0deg, #6C2ADE 0%, #6623DB 20%, #7D3EE8 55%, #9058EE 77%, #9D69F3 100%) 0% 0% no-repeat padding-box
  .hand
    width 8.75rem
    height 10.125rem
  .sending_wrap
    min-height 100%
    width 70%
    animation sending 0.3s
    .sending_body
      width 100%
      display flex
      align-items flex-end
      padding-bottom 2rem
      img
        width 10rem
        height 10rem
      p
        font-size 1.375rem
        font-weight 600
        width 100%
        text-align center
    .sending
      padding-bottom 0
      p
        color var(--main-color)

.required_fields_popup
  position fixed
  background-color transpatent
  top 0
  left 0
  right 0
  bottom 0
  z-index 2

@keyframes sending
  0%
    transform scale(0.7)
@media screen and (min-width 320px) and (max-width 767px)
  #leads
    margin-bottom 0
@media screen and (min-width 768px) and (max-width 1023px)
  #leads
    margin-bottom 2rem
@media screen and (min-width 1920px)
  #leads
    margin-bottom 3.5rem
    min-height 30rem
    padding 3.5rem 0