// @import "../../../../variables.css"
#events
  .wrap-events
    max-height 127px
    overflow-x auto
    display flex
    margin 0 7px 3px 7px
    .events-list
      -webkit-margin-end 3px
      -moz-margin-end 3px
  a
    text-decoration none
  background-color transparent
  .event-header
    margin 0 7px 3px 7px
    display flex
    background-color #fff
    border-top-left-radius 8px
    border-top-right-radius 8px
    height 4em
    label
      margin auto 10px
      font-size 1.5em
      font-weight 700
  .event-footer
    margin 3px 7px 0 7px
    display flex
    background-color #fff
    border-bottom-left-radius 8px
    border-bottom-right-radius 8px
    height 4em
    justify-content space-between
    label
      margin auto 10px
      font-size 0.8em
      color var(--dark-color)
      font-weight 700
  .note
    background-color #fff
    border-radius 4px
    width 17.6em
    min-height 9.1em
    background-image linear-gradient(white, white)
    .note-head
      padding 0 10px
      // font-family $fontHead
      display flex
      flex-direction row
      min-height 3.5em
      border-bottom 1px solid #dedeff
      span
        font-size 12px
        font-weight bold
        font-style normal
        font-stretch normal
        line-height 1.67
        letter-spacing 0.1px
        text-align left
        color var(--main-color)
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        margin auto 10px
    .block1
      // font-family $fontBody
      -webkit-padding-start 2px
      -moz-padding-start 2px
      width 60%
      margin auto 0
      float left
      display flex
      height 5.3em
      .dates
        margin auto
        -webkit-margin-end 0
        -moz-margin-end 0
        -webkit-margin-start 5px
        -moz-margin-start 5px
        span
          font-size 11px
          font-weight 300
          font-style normal
          font-stretch normal
          line-height 1.67
          letter-spacing 0.2px
          text-align left
          color var(--main-color)
          // font-size 0.8em
          margin auto 5px
    .block2
      // font-family $fontBody
      width 40%
      font-size 30px
      float right
      display flex
      border-left 1px solid #dedeff
      flex-direction column
      height 2.1em
      span
        color var(--main-color)
        margin auto
      span.min
        font-size 0.3em
        margin-top -2em
  .end-note
    background-color gainsboro!important
    color darkslategray
    .orange
      color orangered