#features
  padding 7.5rem 0 4rem
  display flex
  flex-direction column
  text-align center
  h2
    font-size 3.125rem
    margin 0
    line-height 1.02
    font-weight bold
  p
    padding-top 1rem
    font-size  1.375rem
  .features-content-box
    display flex
    padding-top 1.625rem
    flex-wrap wrap
    margin 0 auto
    width 78%
    max-width 1500px
    justify-content center
    align-content center
    transition width 0.3s
    .wrap_controls
      display flex
      align-items center
      justify-content center
      width 7%
    .swiper-container
      width 86%
      flex-grow 1
      .swiper-wrapper
        flex-grow 1
        margin-bottom 3rem
    .swiper-slide
      padding 1.625rem 1.9rem 4.5rem
      display flex
      flex-wrap wrap
      justify-content space-between
      width 100% !important
    .slide-item
      display flex
      align-items center
      flex-direction column
      width 19.75rem
      min-height 11.625rem
      margin 1rem 0
      padding 2.25rem 3% 0.8rem
      border-radius 20px
      box-shadow 0 20px 35px 0 rgba(41, 41, 204, 0.16)
      background-color var(--white-color)
      figure
        margin 0
      figcaption
        white-space normal
        text-align center
        font-size 1.125rem
        margin-top 1rem
        font-weight 600
      img
        width 3.875rem
  .swiper-button-prev
    top 96.5%
    left 40%
  .swiper-button-next
    top 96.5%
    right 40%
@media screen and (min-width 1024px) and (max-width 1365px)
  #features
    .swiper-button-prev
      top 96.5%
      left 38%
    .swiper-button-next
      top 96.5%
      right 38%
@media screen and (min-width 320px) and (max-width 767px)
  #features
    padding 2rem 0 2rem
    header
      h2
        width 80%
        font-size 2rem
        margin 0 auto
      p
        padding 1rem 1rem 0
        font-size 1.2rem
    .features-content-box
      width 100%
      padding-top 0
      .swiper-slide
        padding 1.8rem 1.4rem 4.5rem
      .slide-item
        padding 1.5rem 0.2rem 1rem
        min-height 8rem
        height 9rem
        width 47%
        figcaption
          font-size 0.8rem
          margin-top 1.2rem
        img
          width 40%
    .swiper-button-prev
      top 96.5%
      left 30%
    .swiper-button-next
      top 96.5%
      right 30%

@media screen and (min-width 768px) and (max-width 1023px)
  #features
    padding 2rem 0 2rem
    header
      h2
        width 80%
        font-size 2rem
        margin 0 auto
      p
        padding-top 1rem
        font-size 1.2rem
    .features-content-box
      width 95%
      padding-top 0
      .swiper-slide
        padding 1.8rem 1.8rem 4.5rem
      .slide-item
        width 31%
        min-height 9rem
        padding 2.4rem 1.5% 1.8rem
        figcaption
          font-size 1rem
          margin-top 1.5rem
        img
          width 2.5rem
    .swiper-button-prev
      top 96.5%
      left 35%
    .swiper-button-next
      top 96.5%
      right 35%
@media screen and (min-width 1024px) and (max-width 1365px)
  #features
    padding 2rem 0 2rem
    header
      h2
        width 80%
        font-size 2.5rem
        margin 0 auto
      p
        font-size 1.2rem
    .features-content-box
      padding-top 0.5rem
      width 78%
      .swiper-slide
        justify-content space-around
        .slide-item
          width 17.25rem
          min-height 10rem
          padding-left 1rem
          padding-right 1rem
          figcaption
            font-size 1rem
            margin-top 1.5rem
          img
            width 2.5rem

@media screen and (min-width 1024px) and (max-width 1200px)
  #features
    .features-content-box
      width 85%
      .swiper-slide
        justify-content space-between
        .slide-item
          width 31%

@media screen and (min-width 1440px) and (max-width 1600px)
  #features
    .features-content-box
      .swiper-slide
        justify-content space-around

@media screen and (min-width 1601px) and (max-width 1919px)
  #features
    .features-content-box
      width 70%
      .swiper-slide
        justify-content space-around
        .slide-item
          width 31%

@media screen and (min-width 1920px)
  #features
    padding 11rem 0 9rem
    .features-content-box
      width 70%
      transition width 0.3s
      .swiper-slide
        justify-content space-around
      .slide-item
        justify-content center
        width 23.5rem
        min-height 14.375rem
        padding 2.75rem 1.5% 1.7rem
        figcaption
          margin-top 1.125rem 
          font-size 1.5rem
        p
        img
          width 4.625rem
    header
      h2
        font-size 3.75rem
      p
        font-size 1.75rem
    .features-content-box,.swiper-slide
      padding-top 2.5rem !important

body[style='direction: rtl;']
  @media screen and (min-width 320px) and (max-width 767px)
    #features
      .features-content-box
        .swiper-button-prev
          top 96.5%
          right  30%
        .swiper-button-next
          top 96.5%
          left 30%
  @media screen and (min-width 768px) and (max-width 1023px)
    #features
      .features-content-box
        .swiper-button-prev
          top 96.5%
          right 35%
        .swiper-button-next
          top 96.5%
          left 35%
  @media screen and (min-width 1024px) and (max-width 1365px)
    #features
      .features-content-box
        .swiper-button-prev
          top 96.5%
          right 38%
        .swiper-button-next
          top 96.5%
          left 38%
