#features
  padding 0 0 3.5rem
  display flex
  flex-direction column
  text-align center
  background-color #efefff
  header
    padding 2rem 1rem 0
    background-image linear-gradient(to top, rgba(255, 255, 255, 0), #ffffff)
    h2
      font-size 2rem
      margin 0
      line-height 1.1
      font-weight bold
      text-align center
      color #7539da
    #starting_from
      display: flex;
      width: fit-content;
      background-image: linear-gradient(to bottom, #f0a, #b00075 63%, #930062);
      margin-top 1rem
      padding 1rem
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      color: var(--white-color);
      transform translateX(-1rem)
    p
      padding-top 1rem
      text-align center
      font-size  1.125rem
  .features-content-box
    display flex
    padding-top 1.625rem
    flex-wrap wrap
    margin 0 auto
    width 100%
    max-width 1500px
    justify-content center
    align-content center
    transition width 0.3s
    .wrap_controls
      display flex
      align-items center
      justify-content center
      width 7%
    .swiper-container
      width 100%
      flex-grow 1
      .swiper-wrapper
        flex-grow 1
        margin-bottom 3rem
      .swiper-slide
        padding 0 1rem 0rem
    .features-container
      display flex
      align-items center
      flex-direction column
    .slide-item
      display flex
      align-items center
      width 100%
      margin 0 0 1rem
      border-radius 20px
      .outer_border
        display flex
        align-items center
        justify-content center
        border-radius 50%
        padding 0.5rem
        border 1px solid var(--white-color)
      .inner_wrap
        width 4.5rem
        height 4.5rem
        display flex
        border-radius 50%
        align-items center
        justify-content center
        box-shadow 0 15px 20px 0 #cdbbf5
        background-image linear-gradient(to bottom, #ffffff 34%, #dcd1ff)
        img
          width 2.5rem
      figcaption
        white-space normal
        -moz-padding-start 1rem
        -webkit-padding-start 1rem
        padding-inline-start 1rem
        text-align start
        p
          font-weight bold
          font-size 1.125rem
        span
          font-size .9rem

body[style='direction: rtl;']
  #features
    header
      #starting_from
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        transform translateX(1rem)
