#features
  padding 1rem 0 4rem
  display flex
  flex-direction column
  text-align center
  background-image linear-gradient(to top, #efefff 37%, #ffffff)
  header
    padding 0 1rem
    h2
      font-size 2rem
      margin 0
      line-height 1.1
      font-weight bold
      text-align start
    p
      padding-top 1rem
      text-align start
      font-size  1.125rem
  .features-content-box
    display flex
    padding-top 1.625rem
    flex-wrap wrap
    margin 0 auto
    width 100%
    max-width 1500px
    justify-content center
    align-content center
    transition width 0.3s
    .wrap_controls
      display flex
      align-items center
      justify-content center
      width 7%
    .swiper-container
      width 100%
      flex-grow 1
      .swiper-wrapper
        flex-grow 1
        margin-bottom 3rem
      .swiper-slide
        padding 0 1rem 0rem
    .features-container
      display flex
      align-items center
      flex-direction column
    .slide-item
      display flex
      align-items center
      width 100%
      margin 0 0 1rem
      border-radius 20px
      .outer_border
        display flex
        align-items center
        justify-content center
        border-radius 50%
        padding 0.5rem
        border 1px solid var(--white-color)
      .inner_wrap
        width 4.5rem
        height 4.5rem
        display flex
        border-radius 50%
        align-items center
        justify-content center
        box-shadow 0 15px 20px 0 #cdbbf5
        background-image linear-gradient(to bottom, #ffffff 34%, #dcd1ff)
        img
          width 2.5rem
      figcaption
        white-space normal
        font-size 1.125rem
        -moz-padding-start 1rem 
        -webkit-padding-start 1rem 
        padding-inline-start 1rem
        text-align start
        font-weight bold
  .swiper-button-prev
    top 96.5%
    left 40%
  .swiper-button-next
    top 96.5%
    right 40%

// body[style='direction: rtl;']
 
  