.slider_btn
  padding 0
  width 2.625rem
  height 2.625rem
  border-radius 50%
  box-shadow 0 8px 12px 0 rgba(41, 41, 204, 0.16)
  background-color var(--white-color)
  display flex
  align-items center
  justify-content center

@media screen and (min-width 1920px)
  .slider_btn
    width 3.125rem
    height 3.125rem
    img
      width 0.625rem
      height auto