.edit-note
  border-top 1px solid #dedeff
  border-bottom 1px solid #dedeff
  .edit-note-dody
    padding 0 0.8rem
  .one-note
    font-size 12px
    font-weight bold
    line-height 2
    color var(--dark-color)
  .description
    display flex
    align-items center
    border-radius 4px
    box-shadow 0 2px 4px 0 rgba(191, 175, 224, 0.3)
    background-image linear-gradient(to bottom, #f8f8ff, #efefff)
    .description-area
      background-color transparent
      padding 5px
      resize none
      border none
      outline none
      line-height 1.43
      letter-spacing 0.2px
      width 90%
    .cancel-search
      width 10%
  .reminder
    .reminder-wrap
      padding 1.5rem 0 1rem
      .on-set-reminder
        display flex
        justify-content space-between
      .switch
        display flex
        align-items center
        border none
        height 1rem
        width 40px
        background-color #EFEFFF
        .switch-toggle
          width 20px
          height 20px
          box-shadow 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12)
          background-image linear-gradient(to bottom, #e1d8f2, #bfafe0)
      .on
        background-color rgba(82, 47, 169, 0.32)
        .switch-toggle
          width 20px
          height 20px
          box-shadow 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12)
          background-image linear-gradient(to bottom, #8a5cd4, #522fa9)
    .set-reminder
      display flex
      align-items center
      .img-wrap
        display flex
        align-items center
        justify-content center
      img
        -webkit-margin-end 0.4rem
        -moz-margin-end 0.4rem
        margin-inline-end 0.4rem
        height 20px
        width 20px
      span
        font-size 12px
        font-weight bold
        line-height 2
        color var(--dark-color)
    .reminder-time
      display flex
      align-items center
      padding-top 15px
      justify-content space-between
  .actions-note
    display flex
    justify-content flex-end
    padding 0.6rem 0.8rem
    border-top 1px solid rgba(222, 222, 255, 0.3 )
    .delete
      display flex
      align-items center
      background-color transparent
      border none
      font-size 14px
      font-weight 500
      color var(--sec-bgcolor)
    .save
      display flex
      align-items center
      font-size 14px
      font-weight 500
      color #50e3c1
      padding 0
      border none
      background-color transparent
      webkit-margin-start 1rem
      -moz-margin-start 1rem
      margin-inline-start 1rem
    img
      webkit-margin-end 0.4rem
      -moz-margin-end 0.4rem
      margin-inline-end 0.4rem
      margin-bottom 4px
      width 18px
      height 18px
  // .hidden
  //   display none
  .input-wrap
    display flex
    align-items center
    // justify-content flex-end
    flex-grow 1
    justify-content center
    .reminder-in
      font-size 12px
      font-weight bold
      color var(--dark-color)
      webkit-padding-end 1rem
      -moz-padding-end 1rem
      padding-inline-end 1rem
    .ink
      width 28px
      height 28px
      display flex
      border 1px solid var(--sec-bgcolor)
      border-radius 100%
      justify-content center
      align-items center
    .count-input
      height 40px
      width 30%
      border none
      font-size 16px
      background-color transparent
      color rgba(34, 34, 34, 0.87)
      text-align center
      &:focus
        outline none
    .total-input
      width 25%
    input:disabled
      background-color transparent
  .select-wrap
    width 55%
    height 100%
  #select-main
    width 60%
    color #bdadde
    font-size 16px
    height 100%
    .active
      height 100%
    .active-name
      display flex
      align-items center
      line-height 1
      height 100%
    .icon
      display flex
      align-items center
    .active
    .options
      border none
    .options
      width 20%
