#details
  .data-wrap
    display flex
    justify-content flex-end
    .data-wrap2
      font-weight bold
      display flex
      align-items center
      -webkit-margin-end 10%
      -moz-margin-end 10%
      color #4f2da7
      &:focus
        outline none
    img.ok
      width 30px
      height 30px
  .hidden
    display none
  .details-button
    cursor pointer
