#color
  background-color gainsboro
  border-top 1px solid gray
  padding-bottom 30px
  position relative
  min-height 550px
.data
  box-shadow 1px 3px 6px #bcbcbc
  margin 30px auto 0 auto
  background-color white
  border-radius 15px
  padding 5px 0px
  width 90%
  .date
    padding 5px 10px
    .date-img
      display inline-block
      overflow hidden
      height 20px
      width 20px
      float left
      img
        object-fit cover
        height 20px
        width 20px
    .date-data
      padding 1px 5px
      display inline-block
      color deepskyblue
      font-size 18px
  .service
    width 100%
    padding-bottom 15px
    .name
      border-bottom-left-radius 10px
      border-top-left-radius 10px
      border 1px solid grey
      border-right none
      -webkit-margin-start 5px
      -moz-margin-start 5px
      padding 0 40px
      color grey
      font-size 22px
    .сolor_data
      padding 5px
      height 55px
      color grey
      .color_number_wrap, .color_brand_wrap, .color_oxy_wrap, .color_coments_wrap
        display inline-block
        vertical-align top
        text-align center
        height 50px
        width 20%
      .color_number_wrap, .color_oxy_wrap
        color deepskyblue
      .color_coments_wrap
        text-align start
        padding 1px
        width 40%
      .color_brand_wrap
        line-height 50px
        .center
          position relative
          top -3px
          line-height 1.25
          display inline-block
          vertical-align middle
.comments
  margin 0 auto 20px auto
  border 1px solid grey
  border-radius 10px
  height 80px
  width 95%
  img
    display inline-block
    height 25px
    margin 7px
    width 25px
    float left
  h1
    display inline-block
    padding-top 9px
    font-size 18px
    color grey
.time
  margin 0 auto 20px auto
  border 1px solid grey
  border-radius 10px
  height 50px
  width 95%
  img
    display inline-block
    height 25px
    margin 7px
    width 25px
    float left
  h1
    display inline-block
    padding-top 9px
    font-size 18px
    color grey
