// @import '../../variables.css'
#why
  h2
    font-size 2.25rem
  // height 100vh
  .header
    display flex
    flex-direction column
    width 50%
    margin 0 auto
    text-align center
    p
      font-size 1rem
  .content-box
    margin-top 40px
    flex-wrap wrap
    height 500px
    display flex
    justify-content center
    flex-direction column
    align-content center
    p
      font-size 1.35rem
      padding-left 30px
      font-weight 400
      -webkit-padding-start 30px
      -moz-padding-start 30px
    .content-wrap
      display flex
      align-items center
      margin 0 50px 50px 0
      img 
        width 80px
