#punch_cards
  height 100%
  display flex
  flex-direction column
  background-repeat no-repeat
  background-position top
  .preview-img
    background-image linear-gradient(198deg, rgba(79, 45, 167, 0.3), #4f2da7)
    flex-grow 1
    display flex
  .preview-wrap
    display flex
    flex-direction column
    align-items center
    flex-grow 1
    background-image linear-gradient(to bottom, rgba(239, 239, 255, 0.04), #efefff)
    h2
      color white
      font-size 24px
      font-weight 500
      padding-top 0.7rem
      margin 0
    #wrap-punch
      padding-top 0.8rem
      display flex
      width 90%
      flex-direction column
      justify-content center
      align-items center
      .punch-preview
        position relative
        border-radius 8px 8px 0 0
        width 100%
        background-color white
        height 100px
      .punchcard-full
        border-radius 8px 8px 0 0
        padding 0.75rem 0.5rem 0
        font-size 16px
        line-height 1.25
        opacity 0.3
        padding-top 27px
        background-image linear-gradient(to top, rgba(148, 106, 131, 0), rgba(254, 53, 139, 0.31))
      .punchcard
        border-radius 8px 8px 0 0
        padding 0.75rem 0.5rem 0
        font-size 16px
        line-height 1.25
        padding-top 27px
      .punch-preview:not(:first-child)
        margin-top -0.4rem
        box-shadow 0 -4px 20px 0 #bfafe0
      .punch-name
        // display flex
        // justify-content center
        opacity 0.87
        font-size 16px
        font-weight 500
        line-height 1
        text-align center
        text-transform uppercase
      .service-color
        background-color #000
        -webkit-margin-end 0.4rem
        -moz-margin-end 0.4rem
        margin-inline-end 0.4rem
        display inline-block
        height 8px
        width 8px
        border-radius 50%
      .punch
        border-radius 8px 8px 0 0
        padding-top 0.75rem
        font-size 16px
        line-height 1.25
        .count
          width 100%
          font-weight 300
          text-align center
          padding-bottom 12px
          .uses
            color var(--active-color)
            font-weight normal
          .of
            margin 0 .2rem
          .total
            font-weight normal
      .sum
        display flex
        position absolute
        top 0.5rem
        right 1rem
        color var(--main-color)
      .sum-rtl
        left 1rem
      .currency
        -webkit-padding-start 0.2rem
        -moz-padding-start 0.2rem
        color var(--dark-color)
  .punch-add
    display flex
    align-items center
    justify-content center
    position absolute
    bottom 3.5rem
    width 3.5rem
    height 3.5rem
    border-radius 50%
    background-color var(--active-color)
    .cross
      font-size 28px
      transform rotate(45deg)
      color white
  .punch-add-rtl
    left 1rem
  .punch-add-ltr
    right 1rem
  .full-page
    display flex
    width 100%
    flex-direction column
    align-items center
    flex-grow 1
  .empty-punch-card
    display flex
    width 100%
    flex-grow 1
    padding-top 11rem
    p
      width 100%
      font-size 24px
      font-weight 500
      color #ffffff
      text-align center