// @import "../../../../variables.css"
#sendlink
  padding 0 10px
  border-top 1px solid #deceff
  min-height 4em
  display flex
  .data-wrap
    display flex
    justify-content flex-end
    .data-wrap-after
      font-weight bold
      display flex
      align-items center
      -webkit-margin-end 10%
      -moz-margin-end 10%
      color var(--dark-color)
      &:focus
        outline none
    img.ok
      width 30px
      height 30px
  .hidden
    display none
  .details-button
    cursor pointer
  .send-wrap
    display flex
    justify-content space-between
    width 100%
    align-items center
    .label
        font-size 0.8em
        font-weight 600
        color var(--dark-color)
        display flex
        align-items center