// @import "../../variables.css"
#punch_cards_old
  width 100%
  height 100%
  .swiper
    max-height 70vh
    .swiper-slide
      margin-bottom 50px
  .btn-wrap
    display flex
    align-items center
    position relative
    justify-content center
    padding .5rem .7rem
    background-color var(--main-bgcolor)
    .ban
      opacity .5
    .btn
      width 2rem
      height 2rem
      position absolute
      -webkit-padding-start 17px
      -moz-padding-start 17px
      img
        width 2rem
        height 2rem
    .rtl
      right 0
    .ltr
      left 0
    .middle-section
      text-align center
      color #fff
      .middle-type
        font-size 1.2rem
      .middle-date
        font-size 1rem 
  .highlights
    display flex
    justify-content center
    align-items center
    height 4rem
    position relative
    .hh
      display flex
    h2
      font-size 1.5rem
      color var(--dark-color)
      margin 0
      -webkit-padding-end 1.5rem
      -moz-padding-end 1.5rem
    .barber
      // position absolute
      right 1.5rem
    .fill-color
      display block
      height 2rem
      width 2rem
      -webkit-margin-end 0.5rem
      -moz-margin-end 0.5rem
  .main-top-title
    font-size 1rem
    display flex
    padding: 1.5rem 1.1rem 0;
    color var(--dark-color)
  .main-title
    font-size 1rem
    display flex
    // padding: 1.5rem 1.1rem 0;
    color var(--dark-color)
  .second-top-title
    font-size 1rem
    display flex
    padding: 0.25rem 1.1rem 0;
    color var(--dark-color)
  .value
    -webkit-padding-start .4rem
    -moz-padding-start .4rem
    -webkit-padding-end .4rem
    -moz-padding-end .4rem
    color var(--main-color)
  .main
    margin 0 .5rem .5rem
    border-radius .5rem
    background-color #fff
    // padding 1.5rem 1.1rem 1rem
    box-shadow: 0 2px 4px 0 #bfafe0;
    .brand
      padding-left
    .colors
      padding: 0 1.1rem 0;
      .colors-item
        padding .4rem 0
        display flex
        align-items center
        img
          // display block
          width 1.2rem
          height 1.2rem
          // margin-bottom .3rem
      .colors-info
        -webkit-padding-start .4rem
        -moz-padding-start .4rem
        display flex
        justify-content space-between
        width 70%
      .color-comments
        padding 0
        -webkit-padding-start 1.6rem
        -moz-padding-start 1.6rem
    .colors:last-child
        padding: 0 1.1rem 1rem;
  .oxy
    margin 0 .5rem .5rem
    border-radius .5rem
    background-color #fff
    box-shadow: 0 2px 4px 0 #bfafe0;
    .oxy-header
      display flex
      padding 1rem 0 .7rem
      justify-content center
      align-items center
      img
        display block
        width 1.5rem
        height 1.5rem
        -webkit-margin-end .5rem
        -moz-margin-end .5rem
      h2
        margin 0
        -webkit-padding-end 2rem
        -moz-padding-end 2rem
        font-weight bold
        color var(--dark-color)
    .oxy-body
      // padding 0 0 2.2rem 1.2rem
      padding 0
      padding-bottom 2.2rem
      -webkit-padding-start 1.2rem
      -moz-padding-start 1.2rem
    .oxy-item
      display flex
      align-items center
      img
        display block
        width 1.25rem
        height 1.25rem
        -webkit-margin-end 0.5rem
        -moz-margin-end 0.5rem
      .concentration
        display flex
        justify-content space-between
        // width 70%
  .common
    padding .5rem 0 1.5rem 0
    -webkit-padding-start 1.5rem
    -moz-padding-start 1.5rem
    .common-item
      display flex
      max-width 80%
      margin 1.3rem 0 0
      .common-img
        -webkit-margin-end 0.7rem
        -moz-margin-end 0.7rem
  .buttons-bot
    position: fixed;
    display: flex;
    /* box-shadow: 0 1px 4px 1px #bfafe0; */
    width: -moz-available;
    width: -webkit-fill-available;
    padding: 0.5rem 0.5rem 0.5rem;
    z-index: 2;
    bottom: 0px;
    /* background-color: rgba(239,239,255,0.56); */
    background-color: #dedeff;
    .buttons-bot-wrap-left, .buttons-bot-wrap-right
      width 50%
      // box-shadow: 0 1px 4px 1px #bfafe0;
      background-color #fff
      text-transform uppercase
      display flex
      height 3.75rem
      align-items center
      justify-content center
      color var(--dark-color)
      font-weight 600
    .buttons-bot-wrap-left
      .btn-bot-img
          justify-content center
          display flex
          width 40px
          padding-right 10px
    .ltr-dir-left
      box-shadow: -2px 0px 5px 0px #bfafe0;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.45rem;
    .rtl-dir-left
      box-shadow: 2px 0px 5px 0px #bfafe0;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.45rem;
      .btn-bot-img
        justify-content center
        display flex
        width 40px
        padding-right 10px
    .buttons-bot-wrap-right
      .btn-bot-img
        justify-content center
        display flex
        width 40px
        padding-right 10px
    .ltr-dir-right
      box-shadow: 2px 0px 5px 0px #bfafe0;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.45rem;
    .rtl-dir-right
      box-shadow: -2px 0px 5px 0px #bfafe0;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.45rem;
.hh
  display flex 
