// @import "../../../../variables.css"
#birthday-wrap
  bottom 10%
  position absolute
  display flex
  flex-direction row
  z-index 2
  h1
    color var(--main-color)
    //line-height unset
    font-size 0.7em
    // padding-top 20%
  .birth-wrap
    display flex  
    align-items center
#birthday-wrap-disabled
  display none
.birthday-wrap-right
  right 2%
.birthday-wrap-left
  left 2%
