// @import "../../../../variables.css"
#share
  margin 0 7px
  padding 0 10px
  display flex
  justify-content center
  border-bottom-left-radius 8px
  border-bottom-right-radius 8px
  background-color #fff
  .share
    object-fit cover
  .icon-default
    object-fit cover
    height 30px
    width 30px
    margin 10px
    transform translateX(0%)
    transition 0.2s ease-in-out
    border-radius 50%
    .facebook
      transform translateX(-125%)
    .twitter
      transform translateX(-225%)
    .pingterest
      transform translateX(-325%)
    .gplus
      transform translateX(-425%)
    .linkedin
      transform translateX(-525%)
  .hidden
    visibility hidden
    opacity 0
